{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Komplexe Zahlen in der Gaußschen Zahlenebene</h1>
{% endblock %}


{% block DEF1_HEAD %}
Was sind komplexe Zahlen?
{% endblock %}
{% block DEF1 %}
<p>Wir betrachten Zahlenpaare $(x,y)$ mit reellen Zahlen $a$ und $b$. 
	Diese Paare werden mithilfe der imaginären Einheit ${\rm{i}}$ zur komplexen Zahl $z = x + {\rm{i}}y \in\mathbb{C}$ ergänzt.
	Die imaginäre Einheit ${\rm{i}}\in\mathbb{C}\backslash\mathbb{R}$ besitzt die Eigenschaft:</p>
<p>$${\rm{i}}^2 = {\rm{i}}\cdot{\rm{i}} = -1.$$</p>
<p>Sie ist keine reelle Zahl, da es keine reelle Wurzel aus $-1$ gibt.</p>
<p>Die Menge $\mathbb{C}=\{x + {\rm{i}}y: x,y \in\mathbb{R}\}$ ist die Menge der komplexen Zahlen. 
	$x = {\rm{Re}}(x+{\rm{i}}y)$ heißt Realteil der komplexen Zahl, $y={\rm{Im}}(x+{\rm{i}}y)$ heißt Imaginärteil. 
	Real- und Imaginärteil sind also selbst wieder reelle Zahlen.</p>
<p>Die Zahl $\overline{z}=\overline{x+{\rm{i}}y} = x - {\rm{i}} y$ ist das komplex Konjugierte zu $z$.</p>
{% endblock %}

{% block DEF2_HEAD %}
Gaußsche Zahlenebene
{% endblock %}
{% block DEF2%}
<p>Bei der graphischen Darstellung von komplexen Zahlen fällt auf, 
	dass wir nicht nur eine, sondern zwei Größen $x$ und $y$ haben.
	Komplexe Zahlen lassen sich also nicht wir reelle Zahlen auf einer Zahlengerade
	anordnen, sondern benötigen zwei Koordinatenrichtungen.</p>
<p>Dazu verlassen wir die reelle Zahlengerade und erweitern sie um
	eine imaginäre Achse, sodass wir ein zweidimensionales Koordinatensystem erhalten.</p>
<p>Eine komplexe Zahl $z = x + {\rm{i}}y$ lässt sich in dieser Gaußschen 
	Zahlenebene als Punkt mit den Koordinaten $(x,y)$ eintragen.</p>
{% endblock %}

{% block DEF3_HEAD %}
Polarkoordinaten
{% endblock %}
{% block DEF3 %}
<p>Komplexe Zahlen lassen sich nicht nur über die kartesische Darstellung schreiben.
	Durch ihre Position in der Gaußschen Zahlenebene erhält jede Zahl $z$ einen 
	Abstand $r = \lvert z\rvert$ vom Ursprung und einen Winkel $\varphi$ mit der reellen Achse:</p>
<p>$$z = r \cdot {\rm{e}}^{i \cdot \varphi}$$</p>
{% endblock %}


{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Was ist eine komplexe Zahl?
{% endblock %}
{% block QUEST1 %}
<ol>
	<li>Was ist die imaginäre Einheit und welche besonderen Eigenschaften hat sie?</li>
	<li>Wozu werden komplexe Zahlen eingeführt? Wozu sind sie nützlich?</li>
	<li>Denken Sie sich ein Problem/eine Gleichung aus, das ohne die Hinzunahme komplexer Zahlen nicht lösbar ist.</li>
	<li>Warum werden komplexe Zahlen als Zahlenpaare $(x,y)$ eingeführt? Welche Rolle spielt dies bei der graphischen Vorstellung
		komplexer Zahlen?</li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Erkundung der Grafik
{% endblock %}
{% block QUEST2 %}
<ol>
	<li>Was ist in der Grafik dargestellt? Was wird durch die Achsen beschrieben? Wo finden Sie Real- und Imaginärteil, Radius und den Winkel $\varphi$?</li>
	<li>Testen Sie die unterschiedlichen Schaltflächen. Stellen Sie durch Einstellung der Schieberegler unterschiedliche komplexe Zahlen dar.</li>
	<li>Welche Auswirkungen hat die Vergößerung oder Verkleinerung des Realteils bzw. des Imaginärteils?</li>
	<li>Wie verhält sich die komplexe Zahl, wenn Sie den Winkel $\varphi$ oder den Radius $r$ verändern?</li>
</ol>
{% endblock %}
{% block ANS2%}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Gaußsche Zahlenebene
{% endblock %}
{% block QUEST3 %}
<ol>
	<li>Denken Sie sich eine komplexe Zahl $z_1$ aus. Skizzieren Sie sie in der Gaußschen Zahlenebene.</li>
	<li>Wie lassen sich Real- und Imaginärteil von $z_2$ ablesen? Notieren Sie sie.</li>
	<li>Aus welchem Zahlbereich stammen die Zahlen auf der reellen und imaginären Achse. Wieso ist dies sinnvoll?</li>
	<li>Denken Sie sich eine weitere komplexe Zahl $z_2$ aus und skizzieren Sie diese ebenfalls in der Gaußschen Zahlenebene.</li>
	<li>Bestimmen Sie jeweils die komplex konjugierten Zahlen zu $z_1$ und $z_2$, und ergänzen Sie Ihre Skizze. Was ist geometrisch passiert?
		Wie können Sie dies in der Grafik bewirken?	</li>
	<li>Bestimmen Sie $z_1 + z_2$, $z_1 \cdot z_2$, $z_1^2$ und $\displaystyle\frac{z_1}{z_2}$. Ergänzen Sie auch hier Ihre Skizze um Ihre 
		Ergebnisse.</li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}

{% block QUEST4_HEAD %}
Teil 4 - Kartesische Darstellung vs. Polarkoordinaten
{% endblock %}
{% block QUEST4 %}
<ol>
	<li>Erläutern Sie, worin sich die Darstellung in Polarkoordinaten von der Darstellung in kartesischen Koordinaten unterscheidet.</li>
	<li>Wie wirkt sich die Änderung des Real- bzw. Imaginärteils auf die Darstellung in Polarkoordinaten aus? 
		Erkunden Sie dies mithilfe der Grafik.</li>
	<li>Denken Sie sich eine komplexe Zahl $z_3$ aus, und notieren Sie sie in Polarkoordinaten. Skizzieren Sie sie in der Gaußschen 
		Zahlenebene. Markieren Sie die definierenden Größen.</li>
	<li>Nutzen Sie Ihre geometrische Beobachtung aus Teil 2, um ohne Rechnung $\overline{z_3}$ in Ihre Skizze einzufügen.</li>
	<li>Was passiert mit dem Winkel $\varphi$, wenn $z_3$ komplex konjugiert wird?</li>
</ol>
{% endblock %}
{% block ANS4 %}
Antwort 4
{% endblock %}