{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Komplexe Wurzeln</h1>
{% endblock %}


{% block DEF1_HEAD %}
Definition: $n$-te komplexe Wurzel
{% endblock %}
{% block DEF1 %}
<p>Die $n$-te komplexe Wurzel von $a\in\mathbb{C}$ ist die Lösung von</p>
<p>$$z^n = a.$$</p>
<p>Die $n$-te Einheitswurzel $\displaystyle \varepsilon_k = {\rm{e}}^{2\pi i \frac{k}{n}}$ mit $k = 0, 1, \ldots, n-1$
	hat die Eigenschaften</p>
<p>$$\lvert\varepsilon_k\rvert = 1 \text{ und } \varepsilon_k^n = {\rm{e}}^{2\pi i k} 
	= \left({\rm{e}}^{2\pi i}\right)^k = 1$$</p> 
<p>und ist damit die Lösung von $z^n = 1$. Die $n$ Einheitswurzeln $\varepsilon_k$ bilden in der Gaußschen Zahlenebene ein 
	regelmäßiges $n$-Eck.</p>
{% endblock %}

{% block DEF2_HEAD %}
Berechnung der $n$-ten Wurzeln
{% endblock %}
{% block DEF2%}
<p>Zur Berechnung der $n$ komplexen Wurzeln lösen wir die Gleichung</p>
<p>$$z^n = a.$$</p>
<p>Damit wir die Potenzgesetze ausnutzen können, nutzen wir die Polarkoordinatendarstellung von $z$ und $a$:</p>
<p>$$z^n = \left(r\cdot{\rm{e}}^{i\varphi}\right)^n = r^n\cdot{\rm{e}}^{i\varphi\cdot n} = 
	s\cdot {\rm{e}}^{i\psi} = a.$$</p>
<p>Der entscheidende Schritt ist nun die Berücksichtigung der $2\pi$-Periodizität der Polarkoordinatendarstellung:</p>
<p>$$z^n = r\cdot{\rm{e}}^{i\psi + 2\pi i} = r\cdot{\rm{e}}^{i\psi + 2 \pi i k}.$$</p>
<p>Nun können wir die Gleichung nach $z$ auflösen und es entstehen $n$ von $k$ abhängige Lösungen $z_k$ 
	mit $k = 0,1,\ldots,n-1$.</p>
{% endblock %}

{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Erkundung der Grafik
{% endblock %}
{% block QUEST1 %}
<ol>
<li>Erkunden Sie die unterschiedlichen Schaltflächen und Schieberegler der Grafik.</li>
<li>Was ist in der Skizze dargestellt? Welche Achsen gibt es?</li>
<li>Was beobachten Sie, wenn Sie die Ordnung der Wurzel erhöhen?</li>
<li>Denken Sie sich eine komplexe Zahl $a$ aus, und bestimmen Sie Wurzeln unterschiedlicher Ordnung. 
	Beschreiben Sie Ihre Beobachtungen.</li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Was sind komplexe Wurzeln?
{% endblock %}
{% block QUEST2 %}
<ol>
<li>Bestimmen Sie die fünften komplexen Wurzeln aus 
	$\displaystyle a = \frac{1}{\sqrt{2}} + {\rm{i}} \cdot \frac{1}{\sqrt{2}}$.</li> 
<li>Verwenden Sie dazu nicht auswendig gelernte Formeln, sondern rechnen Sie sie Schritt für Schritt aus, indem Sie die
	Gleichung $z^n = a$ nach $z$ umformen. Erläutern Sie Ihre Gedankengang und Ihre Rechnung.</li>
<li>Suchen Sie dazu zunächst nach den Polarkoordinatendarstellungen von $z$ und $a$.</li>
<li>Nutzen Sie zur Bestimmung der Polarkoordinatendarstellung von $a$ beispielsweise die Eulersche Identität 
	${\rm{e}}^{i\varphi} = \operatorname{cos}\varphi + {\rm{i}} \operatorname{sin}\varphi$ oder eine Skizze, in der Sie Winkel
	und Abstand vom Ursprung ablesen können.</li>
<li>Überprüfen Sie Ihr Ergebnis mithilfe der Grafik. Kann Ihr Ergebnis stimmen?</li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Komplexe Wurzeln in der Gaußschen Zahlenebene
{% endblock %}
{% block QUEST3 %}
<ol>
<li>Skizzieren Sie Ihre Ergebnisse zur fünften Wurzel aus Teil 2 in der Gaußschen Zahlenebene.</lI>
<li>Erläutern Sie, warum der Index $k$ von $0$ bis $n-1$ läuft. Warum sollte er nicht unendlich weiter laufen?</li>
<li>Testen Sie dies, indem Sie die fünften Wurzeln aus 
	$\displaystyle a = \frac{1}{\sqrt{2}} + {\rm{i}} \cdot \frac{1}{\sqrt{2}}$ hernehmen, und den Laufindex 
	$k=0,1,2,3,4,5,6,\ldots $ beliebig hoch laufen lassen. Was beobachten Sie?</li>
<li>Kommentieren Sie die Aussagen: 
		<ul>
			<li>Es gibt genau $n$ $n$-te Wurzeln aus $a\in\mathbb{C}$.</li>
			<li>Es gibt genau $n$ verschiedene $n$-te Wurzeln aus $a\in\mathbb{C}$.</li>
			<li>Es gibt unendlich viele $n$-te Wurzeln aus $a\in\mathbb{C}$.</li>
		</ul>
</li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}
