{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Komplexe Zahlen in der Gaußschen Zahlenebene</h1>
{% endblock %}


{% block DEF1_HEAD %}
Was sind komplexe Zahlen?
{% endblock %}
{% block DEF1 %}
<!--<p>Wir betrachten Zahlenpaare $(a,b)$ mit den reellen Zahlen $a$ und $b$. Diese Paare werden mithilfe der 
	imaginären Einheit ${\rm{i}}$ zur komplexen Zahl $z = a + {\rm{i}}b \in\mathbb{C}$ ergänzt.</p>
<p>Die imaginäre Einheit ${\rm{i}}\in\mathbb{C}\backslash\mathbb{R}$ besitzt die Eigenschaft: 
	${\rm{i}}^2 = {\rm{i}}\cdot{\rm{i}}= -1$. 
	Sie ist keine reelle Zahl, da es keine reelle Wurzel aus $-1$ gibt.</p>
<p> Die Menge $\mathbb{C} = \{a + {\rm{i}}b: a,b \in\mathbb{R}\}$ ist die Menge der komplexen Zahlen. 
	$a = {\rm{Re}}(a+{\rm{i}}b)$ heißt Realteil der komplexen Zahl, $b = {\rm{Im}}(a+{\rm{i}}b)$ heißt Imaginärteil.
	Real- und Imaginärteil sind also selbst wieder reelle Zahlen.</p>-->
{% endblock %}

{% block DEF2_HEAD %}
Gaußsche Zahlenebene
{% endblock %}
{% block DEF2%}
<!--<p>Bei der graphischen Darstellung von komplexen Zahlen fällt auf, dass wir nicht nur eine, sondern zwei Größen $a$ und 
	$b$ haben. Komplexe Zahlen lassen sich also nicht wie reelle Zahlen auf einer Zahlengerade anordnen, sondern 
	benötigen zwei Koordinatenrichtungen.</p>
<p>Dazu verlassen wir die reelle Zahlengerade und erweitern sie um eine imaginäre Achse, sodass wir ein 
	zweidimensionales Koordinatensystem erhalten.</p>
<p>Eine komplexe Zahl $z = a + {\rm{i}}b$ lässt sich in dieser Gaußschen Zahlenebene als Punkt mit den Koordinaten 
	$(a,b)$ eintragen.</p>-->
{% endblock %}

{% block DEF3_HEAD %}
Polarkoordinaten
{% endblock %}
{% block DEF3 %}
 <!--<p>Komplexe Zahlen $z$ lassen sich nicht nur über die kartesische Darstellung schreiben.</p>
 <p>Auch durch ihre Position in der Gaußschen Zahlenebene, durch ihren Abstand vom Ursprung $r=|z|$ und durch ihren
	 Winkel $\varphi$ mit der reellen Achse wird ihre Position eindeutig bestimmt:</p>
<p>$$z = r \cdot {\rm{e}}^{{\rm{i}}\varphi}$$</p> -->
{% endblock %}


<!--{% block BOKEH %}
{{ script|safe }}
{% endblock %}-->

{% block QUEST1_HEAD %}
Teil 1 - Was ist eine komplexe Zahl?
{% endblock %}
{% block QUEST1 %}
<!--<ol>
<li>Was ist die imaginäre Einheit und welche besonderen Eigenschaften hat sie?</li>
<li>Wozu werden komplexe Zahlen eingeführt? Wozu sind sie nützlich?</li>
<li>Denken Sie sich ein Problem/eine Gleichung aus, das ohne die Hinzunahme komplexer Zahlen nicht lösbar ist.</li>
<li>Warum werden komplexe Zahlen als Zahlenpaare $(a,b)$ eingeführt? Welche Rolle spielt dies bei der graphischen Vorstellung
	komplexer Zahlen?</li>
<li>Wo finden Sie ähnliche Konzepte: damit ein mathematisches Problem lösbar wird, erfinden wir die zugehörige Lösung? Denken Sie dabei
	an Zahlbereichserweiterungen.</li>
</ol>-->
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Gaußsche Zahlenebene
{% endblock %}
{% block QUEST2 %}
<!--<ol>
<li>Denken Sie sich eine komplexe Zahl $z_1$ aus. Skizzieren Sie sie in der Gaußschen Zahlenebene.</li>
<li>Wie lassen sich Real- und Imaginärteil von $z_2$ ablesen. Notieren Sie sie.</li>
<li>Aus welchem Zahlbereich stammen die Zahlen auf der reellen und imaginären Achse. Wieso ist dies sinnvoll?</li>
<li>Denken Sie sich eine weitere komplexe Zahl $z_2$ aus und skizzieren Sie diese ebenfalls in der Gaußschen Zahlenebene.</li>
<li>Bestimmen Sie jeweils die komplex konjugierten Zahlen zu $z_1$ und $z_2$, und ergänzen Sie Ihre Skizze. Was ist geometrisch passiert?</li>
<li>Bestimmen Sie $z_1 + z_2$, $z_1 \cdot z_2$, $z_1$^2$ und $\displaystyle\frac{z_1}{z_2}$. Ergänzen Sie auch hier Ihre Skizze um Ihre 
	Ergebnisse.</li>
</ol>-->
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Kartesische Darstellung vs. Polarkoordinaten
{% endblock %}
{% block QUEST3 %}
<!--<ol>
<li>Erläutern Sie, worin sich die Darstellung in Polarkoordinaten von der Darstellung in kartesischen Koordinaten unterscheidet.</li>
<li>Denken Sie sich eine komplexe Zahl $z_3$ aus, und notieren Sie sie in Polarkoordinaten. Skizzieren Sie sie in der Gaußschen 
	Zahlenebene. Markieren Sie die definierenden Größen.</li>
<li>Nutzen Sie Ihre geometrische Beobachtung aus Teil 2, um ohne Rechnung $\bar{z_3}$ in Ihre Skizze einzufügen.</li>
<li>Was passiert mit dem Winkel $\varphi$, wenn $z_3$ komplex konjugiert wird?</li>
</ol>-->
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}
