{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Komplexe Zahlen in der Gaußschen Zahlenebene</h1>
{% endblock %}


{% block DEF1_HEAD %}
Was sind komplexe Zahlen?
{% endblock %}
{% block DEF1 %}
<p>Wir betrachten Zahlenpaare $(a,b)$ mit reellen Zahlen $a$ und $b$. 
	Diese Paare werden mithilfe der imaginären Einheit ${\rm{i}}$ zur komplexen Zahl $z = a + {\rm{i}}b \in\mathbb{C}$ ergänzt.
	Die imaginäre Einheit ${\rm{i}}\in\mathbb{C}\backslash\mathbb{R}$ besitzt die Eigenschaft:</p>
<p>$${\rm{i}}^2 = {\rm{i}}\cdot{\rm{i}} = -1.$$</p>
<p>Sie ist keine reelle Zahl, da es keine reelle Wurzel aus $-1$ gibt.</p>
<p>Die Menge $\mathbb{C}=\{a + {\rm{i}}b: a,b \in\mathbb{R}\}$ ist die Menge der komplexen Zahlen. 
	$a = {\rm{Re}}(a+{\rm{i}}b)$ heißt Realteil der komplexen Zahl, $b={\rm{Im}}(a+{\rm{i}}b)$ heißt Imaginärteil. 
	Real- und Imaginärteil sind also selbst wieder reelle Zahlen.</p>
{% endblock %}

{% block DEF2_HEAD %}
Gaußsche Zahlenebene
{% endblock %}
{% block DEF2%}
<p>Bei der graphischen Darstellung von komplexen Zahlen fällt auf, 
	dass wir nicht nur eine, sondern zwei Größen $a$ und $b$ haben.
	Komplexe Zahlen lassen sich also nicht wir reelle Zahlen auf einer Zahlengerade
	anordnen, sondern benötigen zwei Koordinatenrichtungen.</p>
<p>Dazu verlassen wir die reelle Zahlengerade und erweitern sie um
	eine imaginäre Achse, sodass wir ein zweidimensionales Koordinatensystem erhalten.</p>
<p>Eine komplexe Zahl $z = a + {\rm{i}}b$ lässt sich in dieser Gaußschen 
	Zahlenebene als Punkt mit den Koordinaten $(a,b)$ eintragen.</p>
{% endblock %}

{% block DEF3_HEAD %}
Polarkoordinaten
{% endblock %}
{% block DEF3 %}
<p>Komplexe Zahlen lassen sich nicht nur über die kartesische Darstellung schreiben.
	Durch ihre Position in der Gaußschen Zahlenebene erhält jede Zahl $z$ einen 
	Abstand $r = \lvert z\rvert$ vom Ursprung und einen Winkel $\varphi$ mit der reellen Achse:</p>
<p>$$z = r \cdot {\rm{e}}^{i \cdot \varphi}$$</p>
{% endblock %}


{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Was ist eine komplexe Zahl?
{% endblock %}
{% block QUEST1 %}
<ol>
<li>Was unterscheidet eine Folge von einer Funktion $f: \mathbb{R} \rightarrow \mathbb{R}$?</li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Gaußsche Zahlenebene
{% endblock %}
{% block QUEST2 %}
<ol>
<li>Skizzieren Sie jeweils eine</li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Kartesische Darstellung vs. Polarkoordinaten
{% endblock %}
{% block QUEST3 %}
<ol>
<li>Geben Sie eine sprachliche Beschreibung der Beschränktheit einer Folge nach oben an. </li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}