{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Differenzierbarkeit von Funktionen</h1>
{% endblock %}


{% block DEF1_HEAD %}
Was ist Differenzierbarkeit?
{% endblock %}
{% block DEF1 %}
<p>Eine Funktion $f: [a,b] \to \mathbb{R}$ heißt differenzierbar an der Stelle $x_0 \in (a,b)$, wenn der 
    Differentialquotient
    $$ \lim_{h\to 0} \frac{f(x_0 + h) - f(x_0)}{h} = f'(x_0)$$
    existiert. 
    Der Grenzwert bezeichnet die Steigung der Tangenten an den Graphen von $f$ an der Stelle $x_0$.</p>
<p>Der Grenzwert $f'(x_0)$ ist die Ableitung von $f$ an der Stelle $x_0$.</p>
<p>Die Funktion $f: [a,b] \to \mathbb{R}$ heißt stetig differenzierbar, wenn ihre Ableitung 
    $f': [a,b] \to \mathbb{R}$ eine stetige Funktion ist. 
    Die Menge aller stetig differenzierbaren Funktionen $f: [a,b] \to \mathbb{R}$ bilden den Vektorraum $C^1([a,b])$.</p>
{% endblock %}

{% block DEF2_HEAD %}
Ableitungsregeln
{% endblock %}
{% block DEF2 %}
<p>Aus dem Differentialquotienten lassen sich einige Ableitungsregeln herleiten, mit denen man einfacher rechnen kann.</p>
<p>Für zwei differenzierbare Funktionen $u,v: [a,b] \to \mathbb{R}$ gelten die folgenden Regeln:</p>
<p>Produktregel: $$(uv)'(x) = u'v + uv'$$ bzw. 
    $$\frac{{\rm{d}}uv}{{\rm{d}}x} = $$</p>
{% endblock %}

{% block BOKEH %}
{{ script|safe }}
{% endblock %}

