{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Differenzierbarkeit von Funktionen</h1>
{% endblock %}


{% block DEF1_HEAD %}
Differenzierbarkeit als punktweise Eigenschaft
{% endblock %}
{% block DEF1 %}
TODO
{% endblock %}

{% block DEF2_HEAD %}
Warum muss eine Funktion differenzierbar sein?
{% endblock %}
{% block DEF2%}
TODO
{% endblock %}

{% block DEF3_HEAD %}
Der Funktionenraum der differenzierbaren Funktionen
{% endblock %}
{% block DEF3 %}
TODO
{% endblock %}

 

{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Fragen
{% endblock %}
{% block QUEST1 %}
<ol>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Fragen
{% endblock %}
{% block QUEST2 %}
<ol>
    <li> Wie würde die Ableitung der Funktion aussehen, welche eine
        nicht-differenzierbare Stelle hat. </li>
    <li> Wie würde das Integral (eine Stammfunktion) einer Funktion aussehen,
        welche eine nicht-differenzierbare Stelle hat. </li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

