{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Die Standardfunktionen</h1>
{% endblock %}


{% block DEF1_HEAD %}
Was ist eine Funktion?
{% endblock %}
{% block DEF1 %}
<p>Eine Funktion $f: \mathcal{U} \to \mathcal{V}$ ist eine Zuordnung, die jedem Element $u\in\mathcal{U}$ des
	Definitionsbereichs $\mathcal{U}$ genau ein Element $v\in\mathcal{V}$ des Bild- bzw. Wertebereichs $\mathcal{V}$ vermöge
	$f: u \mapsto v$, d.h. $f(u) = v$, zuordnet.</p>
<p>Hier wenden wir uns Funktionen $f: D \to B$ mit dem Definitions- bzw. Bildbereich 
	$D,B \subseteq \mathbb{R}$ zu, die reelle Zahlen auf reelle Zahlen abbilden.</p>
{% endblock %}

{% block DEF2_HEAD %}
Eigenschaften von Funktionen
{% endblock %}
{% block DEF2%}
<p>Unterschiedliche Funktionen haben unterschiedliche Eigenschaften, die das charakteristische Verhalten und Aussehen der
	jeweiligen Funktion beschreiben. </p>
<ul>
	<li>Injektivitat und Surjektivität</li>
	<ul>
		<li> <b>injektive Funktion</b>$\quad$ $x_1 \neq x_2, x_1,x_2\in D \ \Rightarrow \ f(x_1) \neq f(x_2)$</li>
		<li> <b>surjektive Funktion</b>$\quad$ $\forall y\in B \ \exists x\in D: \ f(x) = y$</li>
		<li> Eine Funktion heißt <b>bijektiv</b>, wenn sie sowohl injektiv als auch surjektiv ist.</li>
	</ul>
	<li>Monotonie</li>
	<ul>
		<li> <b>monoton wachsende Funktion</b>$\quad$ $x_1 < x_2 \ \Rightarrow \ f(x_1) \leq f(x_2)$</li>
		<li> <b>streng monoton wachsende Funktion</b>$\quad$ $x_1 < x_2 \ \Rightarrow f(x_1) < f(x_2)$</li>
		<li> Analog lassen sich monoton fallende und streng monoton fallende Funktionen definieren.</li>
	</ul>
	<li>Gerade und ungerade Funktionen</li>
	<ul>
		<li> <b>gerade Funktion</b>$\quad$ $f(x) = f(-x) \ \forall x\in D$: eine gerade Funktion ist 
			spiegelsymmetrisch zur $y$-Achse.</li>
		<li> <b>ungerade Funktion</b>$\quad$ $f(x) = -f(x) \ \forall x\in D$: eine ungerade Funktion ist
			drehsymmetrisch zum Ursprung.
		</li>
	</ul>
	<li>Periodizität</li>
		<ul>
			<li>Eine periodische Funktion $f: D \to B$ erfüllt die Eigenschaft $f(x) = f(x+T) \ \forall x\in D$.
			Darin ist $T\neq0$ die Periode, nach der sich die Funktionswerte wiederholen.
			Periodizität zeichnet sich also durch immer wiederkehrendes Verhalten aus.</li>
		</ul>
	<li>Globale und lokale Extrema</li>
		<ul>
			<li> Der Funktionswert $f_{\text{max}} = f(x_{\text{max}})$ heißt <b>globales Maximum</b> von $f$ in $D$,
				wenn $f_{\text{max}} \geq f(x) \ \forall x \in D$ gilt.</li>
			<li> Die Funktion $f$ hat an der Stelle $x_{\text{M}}$ ein <b>lokales Maximum</b>, wenn gilt:
				$$ \exists \ \varepsilon: \ f(x_{\text{M}}) \geq f(x) \ \forall 
				x\in(x_{\text{M}}-\varepsilon, x_{\text{M}}+ \varepsilon) \cap D \ \subseteq D.$$
				</li>
			<li> Analog lassen sich die Bedingungen für globale und lokale Minima definieren.</li>
		</ul>
	</ul>
</ul>
{% endblock %}

{% block DEF3_HEAD %}
Standardfunktionen
{% endblock %}
{% block DEF3 %}
<ul>
	<li>Potenzfunktionen $f(x) = x^a$</li>
		<ul> 
			<li>$f: \mathbb{R} \to \mathbb{R}$ mit $a \in \mathbb{N}$</li>
			<li>$f: \mathbb{R}\backslash\{0\} \to \mathbb{R}$ mit $a < 0$, $a\in\mathbb{Z}$</li>
			<li>$f: [0, \infty) \to \mathbb{R} für $a \geq 0$, sonst $f= (0,\infty) \to \mathbb{R}$</li>
		</ul>	
	<li>Polynom vom Grad $n$: $f(x) = a_0 + a_1 x + a_2 x^2 + \ldots + a_{n-1}x^{n-1} + a_n x^n$</li>
		<ul>
			<li>Polynome sind in $\mathbb{C}$ in Linearfaktoren zerlegbar. 
				Damit haben sie höchstens $n$ Nullstellen in $\mathbb{R}$.</li>
		</ul>
	<li>Exponentialfunktionen $f: (0,\infty) \to \mathbb{R}$$f(x) = a^x$ mit $a > 0$</li>
	<ul>
		<li>Exponentialfunktionen sind die Umkehrfunktionen zum Logarithmus (s.u.)</li>
	</ul>
	<li>Logarithmusfunktionen $f: (0,\infty) \to \mathb{R}$ vermöge $f(x) = \operatorname{log}_a x$ mit $a>1$</li>
	<li>Trigonometrische Funktionen</li>
	<p>Die trigonometrischen Funktionen lassen sich am Einheitskreis definieren. </p>
	<ul>
		<li></li>
	</ul>
</ul>
{% endblock %}


{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Was ist eine Funktion?
{% endblock %}
{% block QUEST1 %}
<ol>
	<li>Welche Informationen sind nötig, um eine Funktion zu definieren?</li>
	<li>Erläutern Sie, warum eine Änderung des Definitions- bzw. Bildbereichs eine andere Funktion bedeutet. 
		Versuchen Sie, dies an einer Skizze zu erklären.</li>
	<li>Kann eine Zahl $y\in B$ zwei Urbilder $x \in D$ haben? Warum? Warum nicht? 
		Wie kann man dies in einer Skizze erkennen?</li>
	<li>Kann eine Zahl $x\in D$ zwei Bilder $y\in B$ haben? Warum? Warum nicht? Wie kann man dies in einer Skizze erkennen?</li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Erkundung der Grafik
{% endblock %}
{% block QUEST2 %}
<ol>
<li></li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Eigenschaften von Funktionen
{% endblock %}
{% block QUEST3 %}
<ol>
	<li>Ist die Funktion $f(x) = x^2$ injektiv oder surjektiv? Können Sie dies anhand der Angabe der Funktion beurteilen?</li>
	<li>Passen Sie die Angabe von $f$ so an, dass Sie die beiden Eigenschaften der Injektivität und Surjektivität überprüfen 
		können. </li>
	<li>Für welche Definitions- bzw. Wertebereiche ist $f$ mit $f(x) = x^2$ injektiv bzw. surjektiv?</li>
	<li>Kommentieren Sie die beiden Aussagen: 
		<ul> 
			<li>Injektivität ist eine Eigenschaft, die durch den Definitionsbereich bestimmt wird.</li>
			<li>Surjektivität wird durch den Bildbereich beeinflusst.</li>
		</ul>
	<li>Leiten Sie die Definition für (streng) monoton fallende Funktionen aus der obigen Definition wachsender 
		Funktionen ab. </li>
	<li>Skizzieren Sie je eine streng monoton wachsende bzw. fallende und eine monoton wachsende bzw. fallende Funktion.
		Worin erkennen Sie den entscheidenden Unterschied.</li>
	<li>Kommentieren Sie:
		<ul>
			<li>Wenn eine Funktion nicht monoton fällt, wächst sie also monoton.</li>
			<li>Wenn eine Funktion nicht ungerade ist, ist sie gerade.</li>
		</ul>
		</li>
	<li>Worin liegt der Unterschied zwischen globalen und lokalen Maxima bzw. Minima? 
		Woran erkennt man dies an der Definition der beiden Begriffe?
		Skizzieren Sie eine Funktion, die ein lokales, aber kein globales Maximum hat. </li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}

