{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Stetigkeit von Funktionen</h1>
{% endblock %}


{% block DEF1_HEAD %}
Was ist Stetigkeit?
{% endblock %}
{% block DEF1 %}
<p></p>
{% endblock %}

{% block DEF2_HEAD %}
FEpsilon-Delta-Kriterium
{% endblock %}
{% block DEF2%}
<p></p>
{% endblock %}

{% block DEF3_HEAD %}
Grenzwerte von Funktionen
{% endblock %}
{% block DEF3 %}
 <p></p>

{% endblock %}

{% block DEF4_HEAD %}
Folgenkriterium
{% endblock %}
{% block DEF4 %}
 <p></p>
 {% endblock %}

{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Fragen
{% endblock %}
{% block QUEST1 %}
<ol>
<li></li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Fragen
{% endblock %}
{% block QUEST2 %}
<ol>
<li></li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Fragen
{% endblock %}
{% block QUEST3 %}
<ol>
<li></li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}


