{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Stetigkeit von Funktionen</h1>
{% endblock %}


{% block DEF1_HEAD %}
Was ist Stetigkeit?
{% endblock %}
{% block DEF1 %}
<p></p>
{% endblock %}

{% block DEF2_HEAD %}
Epsilon-Delta-Kriterium
{% endblock %}
{% block DEF2%}
<p>Ist $f: D \to\mathbb{R}$ stetig im Punkt $z \in D$, so gilt
	$$\forall \varepsilon > 0 \ \exists \delta > 0 \ \forall x \in D: \ 
	\lvert x - z \rvert < \delta \ \Rightarrow \ \lvert f(x) - f(z) \rvert < \varepsilon. $$
	Das Intervall $(z-\delta, z+\delta)$ wird also in den $\varepsilon$-Schlauch um $f(z)$ abgebildet.
</p>
<p>Eine Funktion $f:[a,b] \to \mathbb{R}$ oder $f: \mathbb{R} \to \mathbb{R}$ heißt stetig, wenn sie in jedem Punkt stetig ist.</p>
{% endblock %}

{% block DEF3_HEAD %}
Grenzwerte von Funktionen
{% endblock %}
{% block DEF3 %}
 <p>$f: D \to \mathbb{R}$ und $(a,b)\subseteq D, z \in [a,b]$</p>
 <p><b>Grenzwert von $f$ im Punkt $z$:</b> 
	Für jede Folge $(x_n)_{n=0}^\infty$ mit $x_n \in D \ \forall n \in \mathbb{N}$ und $\displaystyle\lim_{n \to \infty} x_n = z$ gilt
	$$\lim_{n \to \infty} f(x_n) = c$$
	Notation: $\displaystyle \lim_{x \to z} f(x) = c$ </p>
<p><b>Linksseitiger Grenzwert:</b> 
	$$\displaystyle\lim_{x \to z^-} f(x) = \lim_{n\to\infty} f(x_n) \ \ \forall (x_n)_{n=0}^\infty \to z \ , \ x_n < z$$</p>
<p><b>Rechtsseitiger Grenzwert:</b> 
	$$\displaystyle\lim_{x \to z^+} f(x) = \lim_{n\to\infty} f(x_n) \ \ \forall (x_n)_{n=0}^\infty \to z \ , \ x_n > z$$</p>
<p><b>Folgenkriterium:</b> Die Funktion $f: D \to \mathbb{R}$ heißt stetig im Punkt $z \in D$, wenn für alle Folgen $(x_n)_{n=0}^\infty$,
	die gegen $z$ konvergieren, die Folge $(f(x_n))_{n=0}^\infty$ der zugehörigen Funktionswerte gegen $f(z)$ konvergiert. 
	Stetigkeit bedeutet also eine Vertauschbarkeit von Funktionswert- und Grenzwertbildung an der Stelle $z$:
	$$\lim_{n\to\infty} f(x_n) = f(z) = f(\lim_{n\to\infty} x_n) \ \ \forall (x_n)_{n= 0}^\infty \to z.$$ 
</p>
{% endblock %}

{% block DEF4_HEAD %}
Arten von Unstetigkeitsstellen und Eigenschaften stetiger Funktionen
{% endblock %}
{% block DEF4 %}
<p><b>Sprungstelle</b>
	$$\lim_{x\to z^-} f(x) \neq \lim_{x \to z^+} f(x)\ , \ \text{beide Grenzwerte existieren}$$</p>
<p><b>Hebbare Unstetigkeitsstelle</b>
	$$c = \lim_{x \to z^-} f(x) = \lim_{x \to z^+} f(x) \neq f(z)$$
	behebbar durch Umdefinition $\tilde{f}(z) = c$</p>
<p><b>Hebbare Definitionslücke</b>
	$$c = \lim_{x \to z^-} f(x) = \lim_{x \to z^+} f(x) \ , \ \text{aber hier: $f(z)$ nicht definiert}$$</p>
<p><b>Polstelle</b>
	$$\lim_{x \to z^-} f(x) = \pm \infty \ \text{ und/oder } \ \lim_{x \to z^+} f(x) = \pm\infty $$</p>
<p><b>Zwischenwertsatz:</b> Eine stetige Funktion $f: [a,b] \to \mathbb{R}$ nimmt jeden Wert zwischen $f(a)$ und $f(b)$ an.</p>
<p><b>Satz von Weierstraß:</b> Sei $f:[a,b] \to \mathbb{R}$ stetig. Dann existieren Stellen $x_{\rm{min}},x_{\rm{max}}\in [a,b]$ mit
	$$f(x_{\rm{min}}) \leq f(x) \leq f(x_{\rm{max}}) \ \ \forall x \in [a,b].$$
	Das bedeutet, dass stetige Funktionen auf abgeschlossenen Intervallen ihre Extrema annehmen. Sie sind beschränkt. Dies gilt 
	nicht auf offenen oder halboffenen Intervallen.</p>
 {% endblock %}


{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Erkundung der Grafik
{% endblock %}
{% block QUEST1 %}
<ol>
<li>Probieren Sie für die erste Funktion unterschiedliche Kombinationen von $\varepsilon-$ und $\delta-$Schläuchen aus. 
	Welche Kombinationen entsprechen der Definition der Stetigkeit? Welche Aussage können Sie über die Stetigkeit der 
	Funktion treffen?</li>
<li> Wie verändern sich die Werte für $\varepsilon$	und $\delta$ für andere Stellen $x$? Welche Aussage vermuten Sie nun 
	über die Stetigkeit der Funktion? Worin liegt der Unterschied zu Teil 1?</li>
<li>Was fällt Ihnen bei der zweiten Funktion auf? Wiederholen Sie Ihre Überlegungen für diese Funktion. 
	Ist sie stetig? Warum? Warum nicht? </li>
<li>Welche Aussage können Sie über die dritte Funktion treffen? Inwieweit taucht hier die Stetigkeit als punktweise
	Eigenschaft auf?</li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Stetigkeit
{% endblock %}
{% block QUEST2 %}
<ol>
<li>Erläutern Sie das $\varepsilon-\delta-$Kriterium für Stetigkeit. Fertigen Sie eine Skizze an. Übersetzen Sie die 
	Definition in einen von Ihnen selbst formulierten Satz.</li>
<li>Verdeutlichen Sie sich die Bedeutung der Definition, indem Sie versuchen, das Kriterium auf eine unstetige
	Funktion anzuwenden. Was beobachten Sie?</li>
<li>Erläutern Sie das Folgenkriterium der Stetigkeit. Fertigen Sie eine Skizze an. Übersetzen Sie die Definition
	in einen von Ihnen selbst formulierten Satz.</li>
<li>Verdeutlichen Sie sich die Bedeutung der Definition, indem Sie versuchen, das Kriterium auf eine unstetige Funktion
	anzuwenden. Was beobachten Sie?</li>
<li>Warum ist es besonders wichtig, dass die Bedingung für alle Folgen mit $x_n \to x$ gelten muss? Denken Sie sich
	ein Beispiel aus, und erläutern Sie, was passieren kann, wenn es Folgen $x_n \to x$ gibt, für die die Bedingung 
	nicht erfüllt ist.</li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Stetige und unstetige Funktionen
{% endblock %}
{% block QUEST3 %}
<ol>
<li>Skizzieren Sie verschiedene unstetige Funktionen. Um welche Art Unstetigkeit handelt es sich jeweils? Warum?</li>
<li>Kommentieren Sie: "Eine stetige Funktion kann man skizzieren, ohne den Stift abzusetzen."</li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}


