{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Stetigkeit von Funktionen</h1>
{% endblock %}


{% block DEF1_HEAD %}
Was ist Stetigkeit?
{% endblock %}
{% block DEF1 %}
<p></p>
{% endblock %}

{% block DEF2_HEAD %}
Epsilon-Delta-Kriterium
{% endblock %}
{% block DEF2%}
<p>Ist $f: D \to\mathbb{R}$ stetig im Punkt $z \in D$, so gilt
	$$\forall \varepsilon > 0 \ \exists \delta > 0 \ \forall x \in D: \ 
	\lvert x - z \rvert > \delta \ \Rightarrow \ \lvert f(x) - f(z) \rvert < \varepsilon. $$
	Das Intervall $(z-\delta, z+\delta)$ wird also in den $\varepsilon$-Schlauch um $f(z)$ abgebildet.
</p>
{% endblock %}

{% block DEF3_HEAD %}
Grenzwerte von Funktionen
{% endblock %}
{% block DEF3 %}
 <p>$f: D \to \mathbb{R}$ und $(a,b)\subseteq D, z \in [a,b]$</p>
 <p><b>Grenzwert von $f$ im Punkt $z$</b></p>
 <p>Für jede Folge $(x_n)_{n=0}^\infty$ mit $x_n \in D \ \forall n \in \mathbb{N}$ und $\displaystyle\lim_{n \to \infty} x_n = z$ gilt
	 $$\lim_{n \to \infty} f(x_n) = c$$
	 Notation: $\displaystyle \lim_{x \to z} f(x) = c$ </p>
<p><b>Linksseitiger Grenzwert:</b> 
	$\displaystyle\lim_{x \to z^-} f(x) = \lim_{n\to\infty} f(x_n) \ \forall (x_n)_{n=0}^\infty \to z \ , \ x_n < z$</p>
<p><b>Rechtsseitiger Grenzwert:</b> 
	$\displaystyle\lim_{x \to z^+} f(x) = \lim_{n\to\infty} f(x_n) \ \forall (x_n)_{n=0}^\infty \to z \ , \ x_n > z$</p>
{% endblock %}

{% block DEF4_HEAD %}
Folgenkriterium
{% endblock %}
{% block DEF4 %}
 <p>Die Funktion $f: D \to \mathbb{R}$ heißt stetig im Punkt $z \in D$, wenn
	 $$\lim_{x \to z} f(x) = f(z)$$
	 für alle Folgen mit $x \to z$.
 </p>
 {% endblock %}

{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Erkundung der Grafik
{% endblock %}
{% block QUEST1 %}
<ol>
<li></li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Stetige Funktionen
{% endblock %}
{% block QUEST2 %}
<ol>
<li></li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - 
{% endblock %}
{% block QUEST3 %}
<ol>
<li></li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}


