{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Partialsummen und Reihen</h1>
{% endblock %}


{% block DEF1_HEAD %}
Definition einer Reihe als Folge von Partialsummen
{% endblock %}
{% block DEF1 %}
<p>Die Reihe oder unendliche Summe</p>
<p>$$\sum_{k = 0}^{\infty} a_k = a_0 + a_1 + a_2 + a_3 + \ldots $$</p> 
<p>mit den Summanden $a_k$, $k\in \mathbb{N}$, ist die Folge $(s_n)_{n = 0}^{\infty}$ der Partialsummen</p>
<p>$$s_n = \sum_{k=0}^n a_k = a_0 + a_1 + a_2 + \ldots + a_n.$$</p>


{% endblock %}

{% block DEF2_HEAD %}
Wann konvergiert eine Reihe?
{% endblock %}
{% block DEF2%}
<p>Konvergiert die Partialsummenfolge $(s_n)_{n=0}^\infty$, so heißt die zugehörige Reihe konvergent. 
	Der Grenzwert $\displaystyle \limsup_{n\to \infty} (s_n)_{n=0}^\infty$ heißt dann der Wert der Reihe.
</p>
<p>Konvergiert die Reihe $\displaystyle\sum_{k = 0}^{\infty} a_k$, so bilden ihre Summanden $a_k$ eine Nullfolge.</p>
<p>Eine Reihe $\displaystyle\sum_{k = 0}^{\infty} a_k$ konvergiert absolut, wenn die Reihe 
	$\displaystyle\sum_{k = 0}^{\infty} \lvert a_k\rvert$ der Absolutbeträge konvergiert.</p>
{% endblock %}

{% block DEF3_HEAD %}
Konvergenzkriterien
{% endblock %}
{% block DEF3 %}
<p>Um die Konvergenz von Reihen zu überprüfen, gibt es verschiedene Kriterien.</p>
<ul>
	<li>Vergleichskriterium</li>
	<ul> 
		<li>$\displaystyle\sum_{k = 0}^{\infty} b_k$ konvergente Majorante mit $\lvert a_k\rvert \leq \lvert b_k\rvert$ 
			$\Rightarrow$ $\displaystyle\sum_{k = 0}^{\infty} a_k$ absolut konvergent
		</li>
		<li>
				$\displaystyle\sum_{k = 0}^{\infty} b_k$ divergente Minorante mit $a_k \geq b_k$ 
				$\Rightarrow$ $\displaystyle\sum_{k = 0}^{\infty} a_k$ divergent
		</li>
	</ul>
	<li>Quotientenkriterium: $\displaystyle\limsup_{k \to \infty} \biggl|\frac{a_{k+1}}{a_k}\biggr| 
		\begin{cases} < 1 & {\scriptstyle\text{ Reihe absolut konvergent}} \\
		= 1 & {\scriptstyle\text{ keine Aussage möglich}} \\
		> 1 & {\scriptstyle\text{ keine Aussage möglich}} 
		\end{cases}$
	</li>
	<li>Wurzelkriterium: $\displaystyle\limsup_{k\to\infty} \sqrt[k]{\lvert a_k \rvert} 
			\begin{cases} < 1 & {\scriptstyle\text{ Reihe absolut konvergent}} \\
			= 1 & {\scriptstyle\text{ keine Aussage möglich}} \\
			> 1 & {\scriptstyle\text{ Reihe divergent}} 
			\end{cases}$
	</li>
	<li>Leibniz-Kriterium: wenn für eine Reihe $\displaystyle\sum_{k = 0}^{\infty} a_k$ die Bedingungen
		<ul>
			<li>$\displaystyle\lim_{k \to \infty} a_k = 0$</li>
			<li>$(\lvert a_k\rvert)_{k=0}^\infty$ monoton fallend</li>
			<li>alternierend</li>
		</ul>
		erfüllt sind, ist sie konvergent.
	</li>
</ul>
{% endblock %}



{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Was ist eine Reihe?
{% endblock %}
{% block QUEST1 %}
<ol>
<li>Was unterscheidet eine Reihe von einer Folge?</li>
<li>Welche Gemeinsamkeiten haben Reihen und Folgen?</li>
<li>Denken Sie sich ein Beispiel für eine Folge aus. Wie sieht die zugehörige Reihe aus? Notieren Sie jeweils die ersten fünf Folgen- und 
	Reihenglieder.</li>
<li>Wo finden Sie die Folge, wo die Reihe in den obigen Skizzen? Erkunden Sie, was Sie mit der Grafik anstellen können.</li>
<li>Fertigen Sie ähnliche Skizzen auch für Ihr eigenes Beispiel an.</li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Konvergenz einer Reihe und Konvergenzkriterien
{% endblock %}
{% block QUEST2 %}
<ol>
<li>Untersuchen Sie die Konvergenzeigenschaften der vier Reihen in der Grafik. Variieren Sie dazu auch die Anzahl der angezeigten Glieder.</li>
<li>Stellen Sie begründete Vermutungen auf, welche der Reihen konvergent ist, und welche nicht. </li>
<li>Welchen Einfluss hat eine Änderung des Parameters $a$ auf das Konvergenzverhalten?</li>
<li>Können die vier Reihen überhaupt konvergent sein? Wie lässt sich das ggf. in Abhängigkeit vom Parameter $a$ entscheiden?</li>
<li>Kommentieren Sie die Aussage: Wenn die Reihe eine Nullfolge enthält, ist sie konvergent.</li>
<li>Wieso führt uns eine konvergente Majoranten zu einer konvergenten Reihe, warum eine divergente Minorante zu einer 
	divergenten Reihe?</li>
<li>Kann eine divergente Majorante bzw. eine konvergente Minorante zu einer Aussage über die Konvergenz einer Reihe führen?
	Warum? Warum nicht?</li>
<li>Nutzen Sie das Vergleichskriterium, um Ihre Vermutungen zu überprüfen.
	Versuchen Sie, jeweils eine konvergente Majorante oder divergente Minorante anzulegen.</li>
<li>Interpretieren Sie Ihre Beobachtungen. Was bedeuten sie für die Konvergenz der Reihen?</li>
<li>Ist Ihre eigene Reihe konvergent? Was vermuten Sie aus Ihren Skizzen aus Teil 1?</li>
<li>Wie können Sie überprüfen, ob eine Konvergenz Ihrer Reihe überhaupt möglich ist?</li>
<li>Finden Sie zu Ihrer eigenen Reihe eine konvergente Majorante oder eine divergente Minorante.</li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Quotienten- und Wurzelkriterium
{% endblock %}
{% block QUEST3 %}
<ol>
<li>Geben Sie das Quotientenkriterium in Ihren Worten wieder. Erläutern Sie, warum es eine Aussage über die Konvergenz einer Reihe
	machen kann. Warum untersucht es genau diesen Quotienten?</li>
<li></li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}
