{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Partialsummen und Reihen</h1>
{% endblock %}


{% block DEF1_HEAD %}
Definition einer Reihe als Folge von Partialsummen
{% endblock %}
{% block DEF1 %}
<p>Die Reihe oder unendliche Summe</p>
<p>$$\sum_{k = 0}^{\infty} a_k = a_0 + a_1 + a_2 + a_3 + \ldots $$</p> 
<p>mit den Summanden $a_k$, $k\in \mathbb{N}$, ist die Folge $(s_n)_{n = 0}^{\infty}$ der Partialsummen</p>
<p>$$s_n = \sum_{k=0}^n a_k = a_0 + a_1 + a_2 + \ldots + a_n.$$</p>


{% endblock %}

{% block DEF2_HEAD %}
Wann konvergiert eine Reihe?
{% endblock %}
{% block DEF2%}
<p>Konvergiert die Partialsummenfolge $(s_n)_{n=0}^\infty$, so heißt die zugehörige Reihe konvergent. </p>
<p>Konvergiert die Reihe $\sum_{k = 0}^{\infty} a_k$, so bilden ihre Summanden $a_k$ eine Nullfolge.</p>
<p>Eine Reihe $\sum_{k = 0}^{\infty} a_k$ konvergiert absolut, wenn die Reihe $\sum_{k = 0}^{\infty} \lvert a_k\rvert$ der Absolutbeträge konvergiert.</p>
{% endblock %}

{% block DEF3_HEAD %}
Konvergenzkriterien
{% endblock %}
{% block DEF3 %}
<p>Um die Konvergenz von Reihen zu überprüfen, gibt es verschiedene Kriterien.</p>
<ul>
	<li>Vergleichskriterium</li>
	<ul> 
		<li>$\displaystyle\sum_{k = 0}^{\infty} b_k$ konvergente Majorante mit $\lvert a_k\rvert \leq \lvert b_k\rvert$ 
			$\Rightarrow$ $\displaystyle\sum_{k = 0}^{\infty} a_k$ absolut konvergent
		</li>
		<li>
				$\displaystyle\sum_{k = 0}^{\infty} b_k$ divergente Minorante mit $a_k \geq b_k$ 
				$\Rightarrow$ $\displaystyle\sum_{k = 0}^{\infty} a_k$ divergent
		</li>
	</ul>
	<li>Quotientenkriterium: $\limsup_{k \to \infty} \lvert\frac{a_{k+1}}{a_k}\rvert 
		\begin{cases} < 1 & {\scriptstyle\text{ Reihe absolut konvergent}} \\
		= 1 & {\scriptstyle\text{ keine Aussage möglich}} \\
		> 1 & {\scriptstyle\text{ keine Aussage möglich}} 
		\end{cases}$
	</li>
	<li>Wurzelkriterium: $\limsup_{k\to\infty} \sqrt[k]{\lvert a_k \rvert} 
			\begin{cases} < 1 & {\scriptstyle\text{ Reihe absolut konvergent}} \\
			= 1 & {\scriptstyle\text{ keine Aussage möglich}} \\
			> 1 & {\scriptstyle\text{ Reihe divergent}} 
			\end{cases}$
	</li>
	<li>Leibniz-Kriterium: wenn für eine Reihe $\displaystyle\sum_{k = 0}^{\infty} a_k$ die Bedingungen
		<ul>
			<li>$\lim_{k \to \infty} a_k = 0$</li>
			<li>$(\lvert a_k\rvert)_{k=0}^\infty$ monoton fallend</li>
			<li>alternierend</li>
		</ul>$\displaystyle 
		erfüllt sind, ist sie konvergent.
	</li>
</ul>
{% endblock %}

{% block DEF4_HEAD %}
Grenzwert
{% endblock %}
{% block DEF4 %}
 <p>Eine Folge $\left ( a_n \right )_{n=0}^\infty$ hat einen Grenzwert $a \in \mathbb{R}$, wenn 
$$ \forall \varepsilon >0 \ \exists N  \, : \, \lvert a_n - a \rvert < \varepsilon \ \forall n \geq N$$
gilt. 
</p>
 <p>Wenn ein Grenzwert für eine Folge existiert, schreiben wir $\lim_{n \to infty } a_n =a$ oder kurz $(a_n) \rightarrow a$. 
	 Die Folge konvergiert gegen den Grenzwert $a$.</p>
 <p>Wenn dieser Grenzwert $a=0$ ist, so heißt die Folge Nullfolge. </p>
  <p>Eine Folge, die nicht konvergiert, heißt divergente Folge. </p>
 {% endblock %}

{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - 
{% endblock %}
{% block QUEST1 %}
<ol>
<li></ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Fragen
{% endblock %}
{% block QUEST2 %}
<ol>
<li>Zeichnen Sie jeweils eine
	<ul>
	<li>monoton, aber nicht streng monoton, wachsende Folge.</li>
	<li>monoton, aber nicht streng monoton, fallende Folge.</li>
	<li>eine streng monoton wachsende Folge.</li>
	<li>eine Folge, die weder monoton wächst noch monoton fällt.</li>
	</ul>
</li>
<li>Geben Sie die Monotonie-Eigenschaften der Folgen in der Graphik an.</li>
<li>Weisen Sie die vermutete Monotonie-Eigenschaft nach. Nutzen Sie hierzu Ihre Ergebnisse aus Teil 1</li>
<li>Geben Sie einen allgemeinen Ausdruck für $a_{n+1}$ an, indem Sie in die Zuordnungsvorschrift statt $n$ den Wert $n+1$ einsetzen. Formen Sie die entstandene Gleichung nun um. </li>
<li>Warum hat die Definition der Beschränktheit den Zusatz \" für alle $n \in \mathbb{N}$ \"?</li>
<li>Was wäre, wenn die Definition z.B. für $n=5$ nicht gilt? Wie unterscheidet sich eine solche Folge graphisch von einer, bei der die Bedingung für alle $n \in \mathbb{N}$ gilt?</li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Fragen
{% endblock %}
{% block QUEST3 %}
<ol>
<li>Geben Sie eine sprachliche Beschreibung der Beschränktheit einer Folge nach oben an. </li>
<li>Angenommen, für eine Folge $\left ( a_n \right )_{n=0}^\infty$ existiert eine obere Schranke $s$. Gibt es dann ein Element $ a_n \right$, das größer ist als $s$?</li>
<li>Angenommen, für eine Folge $\left ( a_n \right )_{n=0}^\infty$ existiert eine obere Schranke $s$. Gibt es dann ein Element $ a_n \right$, das gleich $s$ ist?</li>
<li>Zeichnen Sie 
	<ul>
	<li>eine nach oben, aber nicht nach unten beschränkte Folge. </li>
	<li>eine nach unten, aber nicht nach oben beschränkte Folge.</li>
	<li>eine beschränkte Folge.</li>
	</ul>
</li>
<li>Überprüfen Sie die Folgen in der Graphik auf Beschränktheit. </li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}

{% block QUEST4_HEAD %}
Teil 4 - Fragen
{% endblock %}
{% block QUEST4 %}
<ol>
<li>Geben Sie die Definition für den Grenzwert einer Folge in Worten wieder. </li>
<li>Was bedeuten die Quantoren $\forall$ und $\exists$?</li>
<li>Betrachten Sie die Graphik und versuchen Sie für je eine der Folgen einen Grenzwert zu finden. </li>
<li>Raten Sie einen Grenzwert $a$, stellen Sie diesen ein und variieren Sie $\varepsilon$. Was beobachten Sie?</li>
<li>Vergrößern Sie die Anzahl an Folgengliedern, die gezeichnet werden. Finden Sie eine natürliche Zahl $N$, sodass alle Folgenglieder ab diesem $N$ innerhalb des Epsilon-Schlauchs liegen?</li>
<li>Argumentieren Sie die folgende Aussage: Wenn nur endlich viele Folgenglieder nicht im Epsilon-Schlauch liegen, konvergiert die Folge trotzdem. </li>
<li>Zeichnen Sie die ersten 10 Folgenglieder von $\left ( f_n \right )_{n=0}^\infty$  mit $f_n=1$ für $\{n \in \mathbb{N} : n= 5^k, k\in \mathbb{N} \} = \{ 5, 25, 125, 600,  \dots \}$ und $f_n =0$ sonst. Gibt es für jedes $\varepsilon >0$ ein $N \in \mathbb{N}$, sodass die Grenzwertdefinition erfüllt ist?</li>
<li>Bestimmen Sie für die Folge $\left ( a_n \right )_{n=0}^\infty$ mit $a_n= 0.75-  \frac{1}{n}$ die Abhängigkeit für $N$ von $\varepsilon$, sodass die Grenzwertdefinition erfüllt ist. Nutzen Sie den in 4(b) bestimmten Grenzwert von $\left ( a_n \right )_{n=0}^\infty$. Interpretieren Sie das Ergebnis.</li>
<li>Schreiben Sie die Grenzwertdefinition mit der konkreten Zuordnungsvorschrift für $a_N$ auf.</li>
<li>Lösen Sie den Betrag auf. </li>
<li>Stellen Sie die entstandene Gleichung nach N um. </li>
<li>Welche Folgenglieder liegen demnach im Epsilon-Schlauch?</li>
<li>Argumentieren Sie mithilfe von 4(d), aus welchem Zahlenbereich $N$ ist.</li>
<li>Welche Auswirkung hat die Wahl von $N$ auf die Folge?</li>
</ol>
{% endblock %}
{% block ANS4 %}
Antwort 3
{% endblock %}
