{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Unter- und Obersummen - Die Riemannsche Integraldefinition</h1>
{% endblock %}


{% block DEF1_HEAD %}
Die Riemannsche Integraldefinition
{% endblock %}
{% block DEF1 %}
TODO
{% endblock %}

{% block DEF2_HEAD %}
Appromation des Flächeninhaltes unter der Kurve / Grenzwertbetrachtung
{% endblock %}
{% block DEF2%}
Je feiner die Breite der Rechtecke gewählt wird, desto mehr näheren sich
Obersummen und Untersummen an.
{% endblock %}

{% block DEF3_HEAD %}
Abgrenzung zu anderen Integraldefinitionen
{% endblock %}
{% block DEF3 %}
TODO
{% endblock %}


{% block BOKEH %}
{{ script|safe }}
{% endblock %}


{% block QUEST1_HEAD %}
Teil 1 - Fragen
{% endblock %}
{% block QUEST1 %}
<ol>
    <li> Welche hypothetischen Funktionen sind nicht Riemann-integrierbar? </li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

