{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Schrittweises Skizzieren von Funktionen</h1>
{% endblock %}


{% block DEF1_HEAD %}
Skizzieren von Funktionen
{% endblock %}
{% block DEF1 %}
<p>Über viele Funktionen wissen wir bereits eine Menge. Welche Eigenschaften haben sie? Wie sieht die Funktion aus?
    Welche charakteristischen Punkte müssen wir berücksichtigen?</p>
<p>Allerdings sieht man nicht immer sofort vor dem inneren Auge, wie eine Funktion aussieht. Dies kann vor allem bei 
    zusammengesetzten Funktionen schwierig sein.</p>
{% endblock %}

{% block DEF2_HEAD %}
Zerlegen in Teilfunktionen
{% endblock %}
{% block DEF2%}
<p>Bei Funktionen, die aus mehreren Teilen zusammengesetzt sind, kann man sich durch eine Rückführung auf bekannte Terme und 
        Graphen Schritt für Schritt dem Funktionsgraphen nähern.</p>
    <p>Dazu untersuchen wir die Funktion und suchen nach einem Term, dessen Graph wir kennen. </p>
    <p>Durch schrittweise Erweiterung dieser Teilfunktion um die in der jeweiligen Funktion vorkommenden Terme entwickeln wir 
        Teilgraphen, die mit jedem Schritt erweitert werden.</p>
    <p>Wenn wir dies so lange wiederholen, bis die ursprüngliche Funktion betrachtet wird, landen wir schließlich beim gesuchten
        Funktionsgraphen.</p>
{% endblock %}

{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Erkundung der Grafik
{% endblock %}
{% block QUEST1 %}  
    <ol>
        <li>Schauen Sie sich die verschiedenen Funktionen an. Haben Sie ohne Nutzung der Grafik eine Vorstellung von den 
            zugehörigen Funktionsgraphen?</li>
        <li>Gehen Sie die Schritte für die erste Funktion $\displaystyle\frac{1}{\sqrt{1+x^2}}$ durch. 
            Welche Graphen erkennen Sie in den einzelnen Schritten?</li>
        <li>Fertigen Sie eine eigene Skizze an, indem Sie die Schritte aus der Grafik übertragen.</li>
        <li>Skizzieren Sie die Funktion $\displaystyle \sin^2\left(x+\frac{\pi}{2}\right)$.</li>
        <li>Notieren Sie dazu zunächst die jeweils vorkommenden Teilfunktionen.</li>
        <li>Skizzieren Sie die Teilfunktionen zu einer Funktion nacheinander in einem Koordinatensytem.</li>
        <li>Überprüfen Sie Ihre Skizzen mithilfe der Grafik.</li>
        <li>Fertigen Sie Skizzen der übrigen in der Grafik auftauchenden Funktionen 
            $\displaystyle\frac{1}{x^2 - 2}$ und $\displaystyle\frac{{\rm{e}}^x}{1 + {\rm{e}}^x}$ an.</li>
        <li>Nutzen Sie auch hier Teilfunktionen und überprüfen Sie Ihre Skizzen mithilfe der Grafik.</li>
    </ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Zerlegen in Teilfunktionen
{% endblock %}
{% block QUEST2 %}
<ol>
        <li>Skizzieren Sie die Funktion $\displaystyle f(x) = \frac{1}{(x-3)^2}$.</li>
        <ul>
            <li>Identifizieren Sie dazu zunächst die Teilfunktionen in $f$.</li>
            <li>Skizzieren Sie die Funktionen $f_1(x) = x$, $f_2(x)=x-3$, $f_3(x)=(x-3)^2$ und schließlich $f_4(x) = f(x)$
                nacheinander in einem Koordinatensystem.</li>
        </ul>
        <li>Skizzieren Sie die Funktion $\displaystyle g(x) = \frac{1}{(x+3)^2}$.</li>
        <ul>
            <li>Identifizieren Sie dazu die Teilfunktionen $g$ und skizzieren Sie diese nacheinander in einem 
                Koordinatensystem.</li>
        </ul>
        <li>Skizzieren Sie die Funktion $\displaystyle h(x) = \frac{1}{(x-3)^2} + \frac{1}{(x+3)^2}$. Nutzen Sie dazu 
            die Skizzen von $f$ und $g$.</li>
        <li>Trainieren Sie das schrittweise Skizzieren, indem Sie sich weitere Beispiele ausdenken und dort jeweils Teilfunktionen
            identifizieren und skizzieren.</li>
    </ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}


