{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Schrittweises Skizzieren von Funktionen</h1>
{% endblock %}


{% block DEF1_HEAD %}
Skizzieren von Funktionen
{% endblock %}
{% block DEF1 %}
<p>Über viele Funktionen wissen wir bereits eine Menge. Welche Eigenschaften haben sie? Wie sieht die Funktion aus?
    Welche charakteristischen Punkte müssen wir berücksichtigen?</p>
<p>Allerdings sieht man nicht immer sofort vor dem inneren Auge, wie eine Funktion aussieht. Dies kann vor allem bei 
    zusammengesetzten Funktionen schwierig sein.</p>
{% endblock %}

{% block DEF2_HEAD %}
Zerlegen in Teilfunktionen
{% endblock %}
{% block DEF2%}
<p>Bei Funktionen, die aus mehreren Teilen zusammengesetzt sind, kann man sich durch eine Rückführung auf bekannte Terme und 
        Graphen Schritt für Schritt dem Funktionsgraphen nähern.</p>
    <p>Dazu untersuchen wir die Funktion und suchen nach einem Term, dessen Graph wir kennen. </p>
    <p>Durch schrittweise Erweiterung dieser Teilfunktion um die in der jeweiligen Funktion vorkommenden Terme entwickeln wir 
        Teilgraphen, die mit jedem Schritt erweitert werden.</p>
    <p>Wenn wir dies so lange wiederholen, bis die ursprüngliche Funktion betrachtet wird, landen wir schließlich beim gesuchten
        Funktionsgraphen.</p>
{% endblock %}

{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Erkundung der Grafik
{% endblock %}
{% block QUEST1 %}  
    <ol>
        <li>Schauen Sie sich die verschiedenen Funktionen an. Haben Sie ohne Nutzung der Grafik eine Vorstellung von den 
            zugehörigen Funktionsgraphen?</li>
        <li>Gehen Sie die Schritte für die erste Funktion $\displaystyle\frac{1}{\sqrt{1+x^2}}$ durch. 
            Welche Graphen erkennen Sie in den einzelnen Schritten?</li>
    </ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Zerlegen in Teilfunktionen
{% endblock %}
{% block QUEST2 %}
<ol>
    <li></li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}


