{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Taylor-Polynome zur Approximation von Funktionen</h1>
{% endblock %}


{% block DEF1_HEAD %}
Taylor-Entwicklung
{% endblock %}
{% block DEF1 %}
<p></p>
{% endblock %}

{% block DEF2_HEAD %}
Taylor-Reihe vs. Taylor-Polynome
{% endblock %}
{% block DEF2%}
<p></p>
{% endblock %}



{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Erkundung der Grafik
{% endblock %}
{% block QUEST1 %}
<ol>
	<li></li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Taylor-Polynome und Taylor-Reihe
{% endblock %}
{% block QUEST2 %}
<ol>
	<li>Erläutern Sie - möglichst ausführlich gern mithilfe einer allgemeinen Skizze - was die Taylor-Entwicklung tut.
		<ul>
			<li>Welches sind die grundlegenden Ideen? Worauf können wir bei einer Erklärung oder Skizze nicht verzichten?</li>
		</ul>
	</li>
	<li>Bestimmen Sie die Taylor-Entwicklung der Funktion $f(x) = \operatorname{ln} x$ an der Stelle $x_0 = 2$.
		<ul>
			<li>Fertigen Sie zunächst eine Skizze von $f$ an. Ergänzen Sie in Ihrer Skizze $T_0$, $T_1$, $T_2$, ... .</li>
			<li>Bestimmen Sie die ersten vier Taylor-Polynome von $f$. Achten Sie auf die Summe!</li>
			<li>Gibt es eine Möglichkeit, die Taylor-Reihe in allgemeiner Form zu notieren?</li>
			<li>Gibt es ein $k \in \mathbb{N}$ mit $T_k(x) = f(x)$? Warum? Warum nicht?</li>
		</ul>
	</li>
	<li>Gegeben ist die Funktion $f: \mathbb{R} \to \mathbb{R}$ vermöge $f(x) = x^2 + 2x - 1$. 
		<ul>
			<li>Fertigen Sie eine Skizze von $f$ an.</li>
			<li>Welche Form erwarten Sie für die Taylor-Reihe? Begründen Sie Ihre Vermutung.</li>
			<li>Gibt es ein $k \in \mathbb{N}$ mit $T_k(x) = f(x)$? Warum? Warum nicht?</li>
			<li>Bestimmen Sie die Taylor-Entwicklung von $f$ an der Stelle $x = 1$. </li>
			<li>Überprüfen Sie Ihre Vermutung von oben mithilfe des Ergebnisses.</li>
		</ul>
	</li>
</ol>	
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Taylor-Entwicklung zur Annäherung von Funktionen
{% endblock %}
{% block QUEST3 %}
<ol>
	<li>Erläutern Sie, warum $\sin \varphi \approx \varphi$ für betragskleine Winkel $\varphi$ als eine für viele
		Zwecke sinnvolle Näherung angesehen werden kann.
		<ul>
			<li>Was bedeutet "betragskleine Winkel"?</li>
			<li>Nutzen Sie die Taylor-Entwicklung, um Ihre Aussage zu begründen.</li>
			<li>Welche analoge Näherung lässt sich für $\cos \varphi$ formulieren? Warum?</li>
		</ul>
	</li>
	<li>Erklären Sie, was die Regel von de l'Hospital besagt.
	<li>Überlegen Sie, welcher Zusammenhang hinter der Regel von de l'Hospital steckt.
		Fertigen Sie eine Skizze an. Denken Sie an die infinitesimale Lupe.</li>
	<li>Leiten Sie die Regel von de l'Hospital für $\displaystyle \lim_{x\to 0} \frac{f(x)}{g(x)}$ her.
		<ul>
			<li>Nutzen Sie dazu die Annäherung durch Taylorpolynome. Stellen Sie jeweils Taylor-Entwicklungen für 
				$f(x)$ und $g(x)$ auf.</li>
			<li>Begründen Sie, warum die Nutzung des Landau'schen Ordnungssymbols in 
				$$ u(x) = u(x_0) + u'(x_0) \cdot (x-x_0) + \frac{1}{2} u''(x_0) \cdot (x-x_0)^2 + \ldots 
				= u(x_0) + u'(x_0) \cdot (x-x_0) + \mathcal{O}((x-x_0)^2)$$
				in einer Umgebung von $x_0$ in Ordnung ist. Übertragen Sie Ihre Überlegungen auf Ihre Annäherungen für 
				$f$ und $g$.</li>
			<li>Vereinfachen Sie den entstehenden Term so weit wie möglich. Beachten Sie dabei, dass Sie mit dem
				Landau'schen Ordnungssymbol genauso rechnen können, wie mit anderen Termen. Wo landen Sie?</li>
		</ul> 
	</li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}

