{% extends "wrapper.html" %}

{% block PRETEXT %}
<h1>Trigonometrische Funktionen am Einheitskreis</h1>
{% endblock %}


{% block DEF1_HEAD %}
Parametrisierung des Einheitskreises
{% endblock %}
{% block DEF1 %}
<p>Die trigonometrischen Funktionen lassen sich am Einheitskreis definieren. Der Einheitskreis ist dabei ein Kreis um
	den
	Ursprung mit dem Radius $1$ beschrieben durch $x^2 + y^2 = 1$.</p>
<p>Dieser Einheitskreis wird mithilfe einer Variablen $t\in\mathbb{R}$ parametrisiert. Wenn $t$ größer wird, laufen wir
	im mathematisch positiven Drehsinn entlang der Kreislinie. So entstehen
	$$t = 0 \mapsto \begin{pmatrix} 1 \\ 0 \end{pmatrix} \ , \
	t = \frac{\pi}{2} \mapsto \begin{pmatrix} 0 \\ 1 \end{pmatrix} \ , \
	t = \pi \mapsto \begin{pmatrix} -1 \\ 0 \end{pmatrix} \ \text{usw.}$$
</p>
<p>Diese Parametrisierung ist $2\pi$-periodisch, $t$ und $t + 2\pi k$ beschreiben also denselben Punkt des
	Einheitskreises.</p>
{% endblock %}

{% block DEF2_HEAD %}
Grad- oder Bogenmaß?
{% endblock %}
{% block DEF2%}
<p>Für die Angabe von Winkeln gibt es verschiedene Einheiten.
	Das Gradmaß teilt einen vollständigen Umlauf in 360 Teile und gibt relativ dazu den Winkel an.
	Im wissenschaftlichen Bereich nutzt man das Bogenmaß, das auch als SI-Standard zur Winkelmessung festgelegt ist.</p>
<p>Als Referenzgröße im Bogenmaß dient die Länge $L = 2\pi$ des Umfangs des Einheitskreises.
	Winkel werden durch die Länge des Kreisbogenstücks, das durch diesen Winkel ausgeschnitten wird, angegeben.</p>

{% endblock %}

{% block DEF3_HEAD %}
Trigonometrische Funktionen im Einheitskreis
{% endblock %}
{% block DEF3%}
<p>Kosinus und Sinus beschreiben die Seitenverhältnisse im rechtwinkligen Dreieck.
	Der zwischen Ankathete und Hypotenuse eingeschlossene Winkel $\varphi$ ist durch die Verhältnisse der Längen der
	Dreiecksseiten festgelegt.</p>
<p>Der Kosinus eines Winkels $\varphi$ wird durch
	$$\cos \varphi = \frac{\text{Ankathete}}{\text{Hypotenuse}} = \frac{x}{r},$$
	der Sinus durch
	$$\sin\varphi = \frac{\text{Gegenkathete}}{\text{Hypotenuse}} =\frac{y}{r}$$
	definiert.</p>
<p>Im Einheitskreis mit $r = 1$ lassen sich die Werte dieser Größen also direkt am Dreieck ablesen.</p>
<p>Auch für Werte $\varphi > 2\pi$ oder $\varphi < 0$ lassen sich auf diese Weise sinnvoll Funktionswerte für Sinus und Kosinus ablesen.
	Dazu nutzt man die $2\pi$-Periodizität der Parametrisierung des Einheitskreises aus, die sich in der $2\pi$-Periodizität der
	trigonometrischen Funktionen widerspiegelt. Indem wir den Weg auf dem Einheitskreis parametrisieren und durchlaufen, entstehen
	die trigonometrischen Funktionen $\sin: \mathbb{R} \to \mathbb{R}$ und $\cos: \mathbb{R} \to \mathbb{R}$.</p>
<p>Eine weitere, gelegentlich vorkommende trigonometrische Funktion ist der Tangens. Der Tangens eines Winkels $\varphi$ wird durch
	$$\operatorname{tan} \varphi = \frac{\text{Gegenkathete}}{\text{Ankathete}} = \frac{x}{y}$$
	definiert. Auch hier können wir durch ein Durchlaufen des Einheitskreises eine Funktion 
	$\displaystyle\operatorname{tan}: \mathbb{R}\backslash\left\{\frac{\pi}{2} + n \pi, n \in \mathbb{Z}\right\}$ erzeugen.</p>
{% endblock %}

{% block DEF4_HEAD %}
Trigonometrischer Pythagoras
{% endblock %}
{% block DEF4 %}
<p>Wie in jedem rechtwinkligen Dreieck gilt auch in dem Dreieck im Einheitskreis mit den Katheten $\sin\varphi$, $\cos\varphi$ und 
	der Hypotenuse $r = 1$	der Satz des Pythagoras:
	$$\cos^2\varphi + \sin^2\varphi = 1 \ \forall \varphi \in \mathbb{R}.$$
</p>

{% endblock %}

{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Trigonometrische Funktionen im Einheitskreis
{% endblock %}
{% block QUEST1 %}
<ol>
	<li>Fertigen Sie eine Skizze an, und erfinden Sie die Definition der trigonometrischen Funktionen nach. 
		Markieren Sie, wo Sie welche Größe finden, und gehen Sie möglichst kleinschrittig vor.</li>
	<li>Vergleichen Sie die oben beschriebene Konstruktion und Definition der trigonometrischen Funktionen mit der Skizze auf Ihrer
		<a href="https://www.tu-braunschweig.de/index.php?eID=dumpFile&t=f&f=47132&token=88937fc7f90ba68b87a277dfac00f46645defeb0">
		Formelsammlung</a>. Wo finden Sie welche Größen wieder?</li>
	<li></li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Erkundung der Grafik
{% endblock %}
{% block QUEST2 %}
<ol>
	<li>Beschreiben Sie, was in der Grafik dargestellt ist. Wie finden Sie den rechten im linken Graph wieder und umgekehrt?</li>
	<li>Was fällt Ihnen bei der Skizze zum Tangens auf? Fertigen Sie eine eigene Skizze auf dem Papier an? Worin liegen
		die Unterschiede? Warum ist nur einer der beiden Darstellungen mathematisch korrekt? Welche?</li>
	<li>Was </li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Eigenschaften von Kosinus und Sinus
{% endblock %}
{% block QUEST3 %}
<ol>
	<li></li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}