{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Trigonometrische Funktionen am Einheitskreis</h1>
{% endblock %}


{% block DEF1_HEAD %}
Parametrisierung des Einheitskreises
{% endblock %}
{% block DEF1 %}
<p>Die trigonometrischen Funktionen lassen sich am Einheitskreis definieren. Der Einheitskreis ist dabei ein Kreis um den 
	Ursprung mit dem Radius $1$ beschrieben durch $x^2 + y^2 = 1$.</p>
<p>Dieser Einheitskreis wird mithilfe einer Variablen $t\in\mathbb{R}$ parametrisiert. Wenn $t$ größer wird, laufen wir
	im mathematisch positiven Drehsinn entlang der Kreislinie.</p>
<img src="/Users/jandierk/Documents/GitHub/expmath/website/templates/analysis_1/abbildungen/bildfz.jpg" align="center" height="100" width="100">
{% endblock %}

{% block DEF2_HEAD %}

{% endblock %}
{% block DEF2%}
<p></p>
{% endblock %}

{% block DEF3_HEAD %}

{% endblock %}
{% block DEF3 %}
 <p></p>

{% endblock %}

{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Fragen
{% endblock %}
{% block QUEST1 %}
<ol>
<li></li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Fragen
{% endblock %}
{% block QUEST2 %}
<ol>
<li></li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Fragen
{% endblock %}
{% block QUEST3 %}
<ol>
<li></li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}
