{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Transportgleichung und Charakteristiken</h1>
{% endblock %}


{% block DEF1_HEAD %}
Transportgleichung
{% endblock %}
{% block DEF1 %}
<p> Eine Transportgleichung hat die Gestalt $u_{,t} + \\frac{\mathrm{d}}{\mathrm{d}x} (F(x,u)) =0$.</p>
<p> Die Funktion $F$ ist die Flussfunktion. Sie ist immer von $u$ und manchmal von $x$ abhängig.</p>
<p> Die Transportgleichung ist eine partielle Differentialgleichung 1. Ordnung. </p>
{% endblock %}

{% block DEF2_HEAD %}
Methode der Charakteristiken
{% endblock %}
{% block DEF2%}
<p> Ein Lösungsansatz zur Lösung einer Transportgleichung ist die Methode der Charakteristiken. 
	Hierzu werden Charakteristiken $\xi(t)$ genau so definiert, dass anstelle partiellen Differentialgleichung zwei gewöhnliche 
	Differentialgleichungen gelöst werden. </p>
<p> Genauer sind die Charakteristiken über die Gleichungen 
	$$ \xi^\prime (t) = \frac{\partial}{\partial u} F(\xi(t), u(t,\xi(t))) $$
	und 
	$$ \\frac{\mathrm{d}}{\mathrm{d}t} u(t, xi(t))= - \\frac{\partial}{\partial x}F(\xi(t), u(t,\xi(t))) $$
	definiert. 
</p>

{% endblock %}

{% block DEF3_HEAD %}
Eigenschaften der Flussfunktion und der Lösung
{% endblock %}
{% block DEF3 %}
 <p>Durch die Definition der Charakteristiken ergibt sich, dass die Flussfunktion $F(\xi(t), u(t,\xi(t)))$ entland der Charakteristiken konstant ist.</p> 
<p> Es gilt also $\\frac{\mathrm{d}{\mathrm{d}t} F(\xi(t), u(t,\xi(t)))=0.$</p>
<p> Im Fall $F= F(u)$ gilt ferner, dass die Lösung entlang der Charakteristiken konstant ist, also $\\frac{\mathrm{d}}{\mathrm{d}t} u(t, xi(t))=0$.</p>
 {% endblock %}





{% block BOKEH %}
{{ script|safe }}
{% endblock %}





{% block QUEST1_HEAD %}
Erkundung der Graphik
{% endblock %}
{% block QUEST1 %}
<ol>
	<li> Was zeigt die schwarze horizontale Linie in der Skizze der Charakteristiken an?</li>
<li>Welche Auswirkung hat eine Änderung der Fahrzeuggeschwindigkeit? </li>
<li>Variieren Sie die Flussfunktion. Was beobachten Sie? </li>
<li>Bei welchen Flussfunktion wirkt sich die Änderung der Anfangsbedingung auf die Charakteristiken aus?</li>
<li>Welche besonderen Effekte im Verlauf der Charakteristiken entdecken Sie bei verschiedenen Flussfunktionen? </li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

