{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Variationsformulierung am Beispiel des freien Falls</h1>
{% endblock %}


{% block DEF1_HEAD %}
Variationsformulierung
{% endblock %}
{% block DEF1 %}
<p>Die Variationsformulierung eines Problem beschreibt die Tatsache, dass ein physikalisches System immer den energetisch günstigsten Weg wählt.</p>
<p> In diesem Beispiel kann ausprobiert werden, für welche Kurve $y=y(t)$ das Energiefunktional $$J(u)= \int_0^1 \dot{y}^2 - 4y \mathrm{d}t$$ minimal wird. </p>
{% endblock %}


{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Erkundung der Graphik
{% endblock %}
{% block QUEST1 %}
<ol>
<li>Für welche Potenz $a$ von $y(t)=1-t^a$ wird das Energiefunktional minimal? </li>
<li>Vergleichen Sie die Formel von $J(y)$ mit der kinetischen und potentiellen Energie eines fallenden Gegenstandes. 
	Welche Masse hat das Objekt in diesem Beispiel? </li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

