{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Variationsformulierung am Beispiel des freien Falls</h1>
{% endblock %}


{% block DEF1_HEAD %}
Variationsformulierung
{% endblock %}
{% block DEF1 %}
<p>Die Variationsformulierung eines Problem beschreibt die Tatsache, dass ein physikalisches System immer den energetisch günstigsten Weg wählt.</p>
{% endblock %}


{% block BOKEH %}
{{ script|safe }}
{% endblock %}

{% block QUEST1_HEAD %}
Teil 1 - Fragen
{% endblock %}
{% block QUEST1 %}
<ol>
<li>a</li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

