{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Wärmeleitung</h1>
{% endblock %}


{% block DEF1_HEAD %}
Wärmeleitung durch Diffusion
{% endblock %}
{% block DEF1 %}
<p> Wärme fließt vom heißen Potential zum kalten. Das macht den Fluss durche ein
Medium proportional zum negativen Gradienten des Temperaturfeldes $F \prop -
\grad u$. Dieser Potentialausgleich heißt Diffusion.</p>

{% endblock %}

{% block DEF2_HEAD %}
Vom Temperaturgradienten zum Fluss
{% endblock %}
{% block DEF2%}
Zur quantitativen Beschreibung der Stärke des Flusses wird die konstitutive
Gleichung benötigt. Diese entspricht der Proportionalitätskonstanten und enthält
die Informationen zu potentieller Inhomogenität oder Anisotropie $ F =
\mathbf{A} u$.</p>
{% endblock %}

{% block DEF3_HEAD %}
Die Wärmeleitungsgleichung
{% endblock %}
{% block DEF3 %}
Fließt Wärme, so ändert sich auch die Temperatur. Dieser Zusammenhang wird in
der Kontinuitätsgleichung deutlich. Eine zeitliche Änderung der Temperatur wird
durch eine Divergenz des Flussfeldes hervorgerufen $ u_t + \grad \dot
[\mathbf{A} \grad u] = 0$. In anderen Worten, wenn an ein Ort eine Quelle von
Wärme ist (z.B. weil es um ihr kälter ist), so wird deren Temperatur sinken.
{% endblock %}

{% block DEF4_HEAD %}
Bedienung des Plots
{% endblock %}
{% block DEF4 %}
TODO
{% endblock %}




{% block BOKEH %}
{{ script|safe }}
{% endblock %}





{% block QUEST1_HEAD %}
Fragen mit dem Plot
{% endblock %}
{% block QUEST1 %}
<ol>
    <li> Welche physikalische Größe ist dargestellt?</li>
    <li> Warum gleicht sich die Temperatur schneller an, wenn der Stab länger
        wird?</li>
    <li> Woran erkennen Sie, dass die höheren Eigenformene schneller abklingen?
        </li>
    <li> Wie erkenen Sie die Formeln für inhomogene Randbedingungen wieder? Wo
        ist $u_{stat}$? </li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Fragen zum eigene Bearbeiten
{% endblock %}
{% block QUEST2 %}
<ol>
    <li> Lösen Sie ein Wärmeleitungsproblem mit inhomogenen
        Dirichlet-Randbedingungen (Temperaturen an den Enden des Stabes ungleich
        0). Vergleichen Sie die genutzte Superposition mit der statischen
        Lösungen aus dem Plot. </li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 1
{% endblock %}

