{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Wärmeleitung</h1>
{% endblock %}


{% block DEF1_HEAD %}
Diffusive Wärmeleitung
{% endblock %}
{% block DEF1 %}
<p> Wärme fließt vom heißen Potential zum kalten. Das macht den Fluss durche ein
Medium proportional zum negativen Gradienten des Temperaturfeldes $F \propto -
\nabla u$. Dieser Potentialausgleich heißt Diffusion.</p>
<p> Der diffusive Wärmetransport unterscheidet sich vom Wärmeaustausch durch Konvektion 
dadurch, dass keine Teilchen transportiert werden. </p>
<p> Die dritte Form der Wärmeübertragung ist die Wärmestrahlung, also eine Energieübertragung
durch elektromagnetische Wellen.</p>

{% endblock %}

{% block DEF2_HEAD %}
Vom Temperaturgradienten zum Fluss
{% endblock %}
{% block DEF2%}
<p>Zur quantitativen Beschreibung der Stärke des Flusses wird die konstitutive
Gleichung benötigt. Diese enthält Informationen über die Beschaffenheit des Materials. </p>
<p> Für ein inhomogenes anisotropes Material ist die konstitutive Gleichung $ I =A (\mathbf{x}) u$.
    Der Wärmefluss ist also abhängig vom Ort $\mathbf{x}$ (inhomogen) und der Richtung (anisotrop).</p>
    <p> Für ein inhomogenens isotropes Material ist der Wärmefluss nicht richtungsabhängig, 
        $ I =a(\mathbf{x}) u$.</p>
    <p> Im Fall eines homogenen, isotropen Materials ist die konstitutive Gleichung 
        $I= a u$ mit $a \in \mathbb{R}.$</p>

{% endblock %}

{% block DEF3_HEAD %}
Die Wärmeleitungsgleichung
{% endblock %}
{% block DEF3 %}
<p>Fließt Wärme, so ändert sich auch die Temperatur. Dieser Zusammenhang wird in
der Kontinuitätsgleichung deutlich. Eine zeitliche Änderung der Temperatur wird
durch die negative Divergenz des Wärmeflusses hervorgerufen 
$ \frac{\partial}{\partial t} u = - \nabla I (t,\mathbf{x}) .$</p>
<p>Zusammen mit der Kontinuitätsgleichung für den Fluss erhält man für ein 
inhomogenes, anisotropes Material die Wärmeleitungsgleichung
$u_{,t}= \nabla \cdot ( A(\mathbf{x}) \nabla u)$.</p>
{% endblock %}

{% block DEF4_HEAD %}
Bedienung der Graphik
{% endblock %}
{% block DEF4 %}
<p> In der Graphik wird die Temperaturverteilung in einem dünnen Stab simuliert. 
    Über die Regler lassen sich die Länge des Stabes, die Materialeigenschaften, 
    die Temperaturverteilung zu Beginn der Beobachtung und die Randbedingungen steuern.</p>
{% endblock %}




{% block BOKEH %}
{{ script|safe }}
{% endblock %}





{% block QUEST1_HEAD %}
Erkundung der Graphik 
{% endblock %}
{% block QUEST1 %}
<ol>
    <li> Welche physikalische Größe ist dargestellt?</li>
    <li> Beschreiben Sie kurz das zeitabhängige Lösungsverhalten.</li>
    <li> Welche Auswirkungen hat eine Verlängerung oder Verkürzung des Stabs auf das Lösungsverhalten?</li>
    <li> Was verändert sich bei einer Anfangsbedingung mit der dritten Eigenform anstelle der ersten?</li>
    <li> Welchen Einfluss hat die Verwendung inhomogener Randbedingungen? </li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Fragen zum tieferen Verständnis
{% endblock %}
{% block QUEST2 %}
Eine Lösung der Wärmleitungsgleichung $u_{,t}= a u_{,xx}$ mit homogenen Dirichlet-Randbedingungen 
ist $u(t,x)= e^{-a(k \frac{\pi}{L})^2 t} sin(\frac{\pi}{L}k x)$.
<ol>
    <li> Woran ist in der Formel zu erkennen, dass die höheren Eigenformen schneller abklingen?  </li>
    <li> Woran ist in der Formel zu erkennen, dass sich die 
        Temperaturverteilung bei längeren Stäben schneller ausgleicht?  </li>
    <li> Welchen Einfluss haben inhomogene Randbedingungen auf die analytische Lösung? </li> 
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 1
{% endblock %}

{% block QUEST3_HEAD %}
Fragen zum eigene Bearbeiten
{% endblock %}
{% block QUEST3 %}
<ol>
    <li> Lösen Sie ein Wärmeleitungsproblem mit inhomogenen
        Dirichlet-Randbedingungen. Vergleichen Sie die genutzte Superposition mit der statischen
        Lösungen aus dem Plot. </li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 1
{% endblock %}

