{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Wellenausbreitung ohne Randbedingungen</h1>
{% endblock %}


{% block DEF1_HEAD %}
Wellengleichung
{% endblock %}
{% block DEF1 %}
<p>Wir betrachten eine Wellengleichung $$u_{,tt} = c^2 u_{,xx} \quad \text{für} x \in \mathbb{R}, t>0.$$</p>
<p>Zusammen mit den Anfangsbedingungen $u(0,x)=u_0(x)$ und $u_{,t}(0,x)= u_1(x)$ erhalten wir ein vollständiges Anfangswertproblem.</p>
{% endblock %}

{% block DEF2_HEAD %}
Lösungsansatz
{% endblock %}
{% block DEF2%}
<p> Die Lösung $u(t,x)$ setzt sich aus einer nach rechtslaufenden Welle $F(x-ct)$ und einer nach linkslaufenden Welle $G(x+ct)$ zusammen, 
	also $$u(t,x)= F(x-ct)+ G(x+ct).$$</p>
<p> Die Gestalt von $F$ und $G$ hängt von den Anfangsbedingungen $u_0(x)$ und $u_1(x)$ ab. Genauer gilt
	$$ u(t,x) = \\frac{1}{2} \left ( u_0(x-ct) + u_0(x+ct) + \frac{1}{c} \int_{x-ct}^{x+ct} u_1(y) \mathrm{d}y.$$ </p>
{% endblock %}







{% block BOKEH %}
{{ script|safe }}
{% endblock %}





{% block QUEST1_HEAD %}
Erkundung der Graphik
{% endblock %}
{% block QUEST1 %}
<ol>
<li>Was verändert sich bei unterschiedlichen Anfangsbedingungen?</li>
<li>Welchen Einfluss hat insbesondere eine Anfangsbeingung $u_1(x) \neq 0$?</li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Verbindung von Theorie und Graphik
{% endblock %}
{% block QUEST2 %}
<ol>
<li>Wo finden Sie in der Formel für $u$ die Halbierung der Amplitude?</li>
<li>Wie passen die Lösungen einer Anfangsbedingung $u_1(x) \neq 0$ zur Lösungsformel?</li>
<li>Weshalb lässt sich die Gleichung nicht mit dem Produktansatz lösen? Sind Zeit und Ort in der Lösung voneinander unabhängig? </li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}


