{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Parametrisierung von Kurven im Raum (2D)</h1>
{% endblock %}


{% block DEF1_HEAD %}
Definition einer Folge
{% endblock %}
{% block DEF1 %}
<p>Eine Folge gibt eine Zuordnung einer natürlichen Zahl $n \in \mathbb{N}$ auf eine reelle Zahl $a_n \in \mathbb{R}$, gemäß $n \mapsto a_n$ an.</p>
<p>Die Folge ist dann $\left ( a_n \right )_{n=0}^\infty$.</p>
<p>Jede Zahl $a_n$ ist ein Folgenglied, also ein Element der Folge.</p>
{% endblock %}

{% block DEF2_HEAD %}
Wachstum von Folgen
{% endblock %}
{% block DEF2%}
<p>Eine Folge $\left ( a_n \right )_{n=0}^\infty$ heißt monoton wachsend, wenn $a_{n+1} \geq a_n$ für alle $n \in \mathbb{N}$ gilt. 
Sie heißt streng monoton wachsend, wenn sogar $a_{n+1} > a_n$ für alle $n \in \mathbb{N}$ gilt. 
 </p>
<p>Analog heißt eine Folge $\left ( a_n \right )_{n=0}^\infty$ monoton fallend, wenn $a_{n+1} \leq a_n$ für alle $n \in \mathbb{N}$ gilt und streng monoton fallend, wenn $a_{n+1} < a_n$ für alle $n \in \mathbb{N}$ gilt. </p>
{% endblock %}

{% block DEF3_HEAD %}
Beschränktheit von Folgen
{% endblock %}
{% block DEF3 %}
 <p>Eine Folge $\left ( a_n \right )_{n=0}^\infty$ ist nach oben beschränkt, wenn es eine obere Schranke $s \in \mathbb{R}$ gibt, sodass $a_n \leq s$ für alle $n \in \mathbb{N}$ gilt. </p>
<p>Eine Folge $\left ( a_n \right )_{n=0}^\infty$ ist nach unten beschränkt, wenn es eine untere Schranke $u \in \mathbb{R}$ gibt, sodass $a_n \geq u$ für alle $n \in \mathbb{N}$ gilt. </p>
<p>Eine Folge $\left ( a_n \right )_{n=0}^\infty$ ist beschränkt, wenn es eine obere und eine untere Schranke gibt. </p>

{% endblock %}

{% block DEF4_HEAD %}
Grenzwert
{% endblock %}
{% block DEF4 %}
 <p>Eine Folge $\left ( a_n \right )_{n=0}^\infty$ hat einen Grenzwert $a \in \mathbb{R}$, wenn 
$$ \forall \varepsilon >0 \ \exists N  \, : \, \lvert a_n - a \rvert < \varepsilon \ \forall n \geq N$$
gilt. 
</p>
 <p>Wenn ein Grenzwert für eine Folge existiert, schreiben wir $\lim_{n \to infty } a_n =a$ oder kurz $(a_n) \rightarrow a$. Die Folge konvergiert gegen den Grenzwert $a$.</p>
 <p>Wenn dieser Grenzwert $a=0$ ist, so heißt die Folge Nullfolge. </p>
  <p>Eine Folge, die nicht konvergiert, heißt divergente Folge. </p>
 {% endblock %}




{% block BOKEH %}
{{ script|safe }}
{% endblock %}





{% block QUEST1_HEAD %}
Teil 1 - Fragen
{% endblock %}
{% block QUEST1 %}
<ol>
<li>Was unterscheidet eine Folge von einer Funktion $f: \mathbb{R} \rightarrow \mathbb{R}$?</li>
<li>Wie erkennt man dies graphisch?</li>
<li>Warum ist es falsch, eine durchgezogene Linie anstelle von einzelnen Punkten zu zeichnen?</li>
<li>Bestimmen Sie die Zuordnungsvorschrift in der Graphik für eine Folge. Prüfen Sie Ihre Vermutung durch eine Beispielrechnung und eine graphische Überprüfung. </li>
<li>Geben Sie für einzelne Folgenglieder die Abbildung von $\mathbb{N}$ nach $\mathbb{R}$ an.</li>
<li>Welcher Wert $a_1$ wird $n=1$ zugeordnet? Welcher Wert $a_2$ wird $n=2$ zugeordnet? Versuchen Sie eine Regelmäßigkeit für höhere Werte $n$ zu finden. </li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Teil 2 - Fragen
{% endblock %}
{% block QUEST2 %}
<ol>
<li>Zeichnen Sie jeweils eine
	<ul>
	<li>monoton, aber nicht streng monoton, wachsende Folge.</li>
	<li>monoton, aber nicht streng monoton, fallende Folge.</li>
	<li>eine streng monoton wachsende Folge.</li>
	<li>eine Folge, die weder monoton wächst noch monoton fällt.</li>
	</ul>
</li>
<li>Geben Sie die Monotonie-Eigenschaften der Folgen in der Graphik an.</li>
<li>Weisen Sie die vermutete Monotonie-Eigenschaft nach. Nutzen Sie hierzu Ihre Ergebnisse aus Teil 1</li>
<li>Geben Sie einen allgemeinen Ausdruck für $a_{n+1}$ an, indem Sie in die Zuordnungsvorschrift statt $n$ den Wert $n+1$ einsetzen. Formen Sie die entstandene Gleichung nun um. </li>
<li>Warum hat die Definition der Beschränktheit den Zusatz \" für alle $n \in \mathbb{N}$ \"?</li>
<li>Was wäre, wenn die Definition z.B. für $n=5$ nicht gilt? Wie unterscheidet sich eine solche Folge graphisch von einer, bei der die Bedingung für alle $n \in \mathbb{N}$ gilt?</li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}

{% block QUEST3_HEAD %}
Teil 3 - Fragen
{% endblock %}
{% block QUEST3 %}
<ol>
<li>Geben Sie eine sprachliche Beschreibung der Beschränktheit einer Folge nach oben an. </li>
<li>Angenommen, für eine Folge $\left ( a_n \right )_{n=0}^\infty$ existiert eine obere Schranke $s$. Gibt es dann ein Element $ a_n \right$, das größer ist als $s$?</li>
<li>Angenommen, für eine Folge $\left ( a_n \right )_{n=0}^\infty$ existiert eine obere Schranke $s$. Gibt es dann ein Element $ a_n \right$, das gleich $s$ ist?</li>
<li>Zeichnen Sie 
	<ul>
	<li>eine nach oben, aber nicht nach unten beschränkte Folge. </li>
	<li>eine nach unten, aber nicht nach oben beschränkte Folge.</li>
	<li>eine beschränkte Folge.</li>
	</ul>
</li>
<li>Überprüfen Sie die Folgen in der Graphik auf Beschränktheit. </li>
</ol>
{% endblock %}
{% block ANS3 %}
Antwort 3
{% endblock %}

{% block QUEST4_HEAD %}
Teil 4 - Fragen
{% endblock %}
{% block QUEST4 %}
<ol>
<li>Geben Sie die Definition für den Grenzwert einer Folge in Worten wieder. </li>
<li>Was bedeuten die Quantoren $\forall$ und $\exists$?</li>
<li>Betrachten Sie die Graphik und versuchen Sie für je eine der Folgen einen Grenzwert zu finden. </li>
<li>Raten Sie einen Grenzwert $a$, stellen Sie diesen ein und variieren Sie $\varepsilon$. Was beobachten Sie?</li>
<li>Vergrößern Sie die Anzahl an Folgengliedern, die gezeichnet werden. Finden Sie eine natürliche Zahl $N$, sodass alle Folgenglieder ab diesem $N$ innerhalb des Epsilon-Schlauchs liegen?</li>
<li>Argumentieren Sie die folgende Aussage: Wenn nur endlich viele Folgenglieder nicht im Epsilon-Schlauch liegen, konvergiert die Folge trotzdem. </li>
<li>Zeichnen Sie die ersten 10 Folgenglieder von $\left ( f_n \right )_{n=0}^\infty$  mit $f_n=1$ für $\{n \in \mathbb{N} : n= 5^k, k\in \mathbb{N} \} = \{ 5, 25, 125, 600,  \dots \}$ und $f_n =0$ sonst. Gibt es für jedes $\varepsilon >0$ ein $N \in \mathbb{N}$, sodass die Grenzwertdefinition erfüllt ist?</li>
<li>Bestimmen Sie für die Folge $\left ( a_n \right )_{n=0}^\infty$ mit $a_n= 0.75-  \frac{1}{n}$ die Abhängigkeit für $N$ von $\varepsilon$, sodass die Grenzwertdefinition erfüllt ist. Nutzen Sie den in 4(b) bestimmten Grenzwert von $\left ( a_n \right )_{n=0}^\infty$. Interpretieren Sie das Ergebnis.</li>
<li>Schreiben Sie die Grenzwertdefinition mit der konkreten Zuordnungsvorschrift für $a_N$ auf.</li>
<li>Lösen Sie den Betrag auf. </li>
<li>Stellen Sie die entstandene Gleichung nach N um. </li>
<li>Welche Folgenglieder liegen demnach im Epsilon-Schlauch?</li>
<li>Argumentieren Sie mithilfe von 4(d), aus welchem Zahlenbereich $N$ ist.</li>
<li>Welche Auswirkung hat die Wahl von $N$ auf die Folge?</li>
</ol>
{% endblock %}
{% block ANS4 %}
Antwort 3
{% endblock %}
