{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Parametrisierung von Kurven in der Ebene</h1>
{% endblock %}


{% block DEF1_HEAD %}
Was ist eine Parametrisierung?
{% endblock %}
{% block DEF1 %}
<p> Durch eine Parametrisierung $\gamma: I \subset \mathbb{R}^1 \rightarrow \mathbb{R}^2$ wird eine Kurve im zweidimensionalen Raum
	$\mathbb{R}^2$ in Abhängigkeit von einer Variablen $\varphi$ dargestellt. Zu jedem Parameterwert $t \in I$ gehört ein Punkt
$\gamma (t) \in \mathbb{R}^2$.  </p>
<p> Der Parameter $t$ nimmt alle Werte aus dem Intervall $I \subset \mathbb{R}^1$ an. </p>
{% endblock %}

{% block DEF2_HEAD %}
Umgang mit der Skizze
{% endblock %}
{% block DEF2 %}
<p> Wir betrachten Parametrisierungen der Form 
	$t \mapsto \gamma(t) = \begin{pmatrix} \gamma_1(t) \\ \gamma_2(t) \end{pmatrix} \in \mathbb{R}^2$.  </p>
<p> Die Art der Parametrisierung für die erste Komponente, also $\gamma_1(t)$ wird durch die obere Zeile ausgewählt.</p>	
<p> Analog wird die Parametrisierung für die zweite Komponente $\gamma_2$ in der zweiten Zeile ausgewählt. </p>
<p> Der Bereich der Parametrisierung wird mit dem unteren Schieberegler verändert.</p>
<p> Optional können die Werte für die Koeffizienten $a,b,c,d \in \mathbb{R}$ nach Betätigung des Schalters 
	"Parameter-Slider hinzuschalten" gewählt werden. </p>
{% endblock %}





{% block BOKEH %}
{{ script|safe }}
{% endblock %}





{% block QUEST1_HEAD %}
Fragen zum Erkunden der Graphik
{% endblock %}
{% block QUEST1 %}
<ol>
<li>Was verändert sich bei der Auswahl verschiedener Parametrisierungen für die beiden Komponenten?</li>
<li>Was passiert bei einer Veränderung des Intervalls $I$? </li>
<li>Lässt sich durch eine geeignete Wahl der Parametrisierungen ein Kreis zeichnen?</li>
<li> Lassen sich auch Geraden zeichnen? </li>
<li> Was bewirken Veränderungen der Parameter $a,b,c,d$?</li>
</ol>
{% endblock %}
{% block ANS1 %}
Antwort 1
{% endblock %}

{% block QUEST2_HEAD %}
Vertiefende Anregungen
{% endblock %}
{% block QUEST2 %}
<ol>
	<li> Erstellen Sie eine Parametrisierung, die die y-Achse bei 2 
	und die x-Achse bei 4 schneidet. Gibt es mehr als eine Möglichkeit? </li>
	<li> Ist es möglich, bei der Verwendung von ausschließlich trigonometrischen 
		Funktionen eine Gerade zu parametrisieren?  </li>
	<li> Parametrisieren Sie einen Kreis so, dass der Umfang genau einmal umlaufen wird.
		Wie groß ist das Intervall? </li>
	<li> Welcher Zusammenhang besteht zwischen dem Parametern $t$ und den 
		Koeffizienten von den $t$ in den Parametrisierungen? </li>
</ol>
{% endblock %}
{% block ANS2 %}
Antwort 2
{% endblock %}


