{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Herzlich Wilkommen</h1>
 <p>Dies ist ExpMath, ein sich in der Entwicklung befindenes Tool für das interaktive Einblicke in die Inhalte der Vorlesungen zu Ingenieurmathematik A, B und V geben soll.</p>
 <p>Mit den Reitern in der Navigationsleiste kann auf die Bereiche und die dazugehörigen Themen zugegriffen werden. Zu jedem Lerninhalt gibt es eine Zusammenfassung der Inhalte sowie eine interaktive Grafik, welche am besten mit den darunter liegenden Fragen erkundet werden kann.</p>
{% endblock %}


