{% extends "wrapper.html" %}

{% block PRETEXT %}
 <h1>Herzlich Wilkommen</h1>
 <p>Dies ist ExpMath ("explore mathematics"), ein sich in der Entwicklung befindenes Tool für 
 interaktive Einblicke in die Inhalte der Vorlesungen Ingenieurmathematik A,
 B und V an der TU Braunschweig.</p>

 <p>Mit den Reitern in der Navigationsleiste kann auf die Bereiche und die
 dazugehörigen Themen zugegriffen werden. Zu jedem Lerninhalt gibt es eine
 Zusammenfassung der Inhalte sowie eine interaktive Graphik, welche am besten mit
 den darunter liegenden Fragen erkundet werden kann.</p>
 
 <br>
 <h2>Wie nutze ich die interaktiven Plots?</h2>
 <p>Die meisten Plots bieten dir links ein Diagramm, welches mit Widgets auf der
 rechten Seite manipuliert werden kann. Dabei besteht oft die Auswahl abhängig 
 vom Kontext des Moduls verschiedene Folgen/Funktionen/Differentialgleichungen
 zu betrachten. Mithilfe von Slidern werden deren Parameter angepasst.</p>
 <p>Zusätzlich zum eigentlichen Plot sind auf der Seite zu jedem Modul auch eine
 kurze Zusammenfassung zu finden sowie Fragen, mit deren Hilfe man die
 Fähigkeiten des Plots austesten kann. </p>

 <br>
 <h2>Wichtig</h2>
 <p>Viele Plots sind komplexe Webapplikationen, welche aktuell
 noch (abhängig von deiner Internetgeschwindigkeit) mehrere Sekunden laden
 können. Dabei wird zuerst der statische Inhalt geladen und danach wird zwischen
 den Block zu Zusammenfassungen und Fragen der Plot auftauchen.
 
 <p>Im aktuellen Testbetrieb kann es zudem noch zu Verzögerungen kommen, dadurch
 könnten sich manche Plots auch weniger interaktiv anfühlen und Reaktionen sind
 verzögert.</p>

 <p> Fragen, Anmerkungen, Verbesserungsvorschläge und Ideen für weitere Graphiken können
     gerne an c.reisch@tu-bs.de gesendet werden. </p>
{% endblock %}


