<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang='de' lang='de'>                 
  <head>                             
    <title>ExpMath @ TU BS                       
    </title>	                                      
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	 	 			 			                              
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="all" title="Layout" /> 
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>	
	<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}}); MathJax.Hub.Config({CommonHTML: {scale: 85}});</script>
  </head>                 
  <body>
  
    <!-- BEGIN Wrapper - Die Seite umfliessender Container -->                             
    
    <div id="wrapper">                     		 		                                          

	<!-- BEGIN Header Bereich & Horizontale Navigation -->

      <header>                                              
        <img class="tu-siegel" src="{{ url_for('static', filename='img/siegel-rot.jpg') }}" alt="Siegel der TU Braunschweig" title="Siegel der TU Braunschweig" /></a>                                                   
        <img class="logo" src="{{ url_for('static', filename='img/institutslogo.jpg') }}" alt="Institutslogo" title="Institutslogo" />		                                                                    
        <img class="symbolpic" src="{{ url_for('static', filename='img/symbolbild-test.jpg') }}" alt="Symbolbild" title="Symbolbild" />		                                                       
        <nav class="horizontal">		                                                      
          <ul> 

		
            
	
		<!-- Analysis 1 Dropdown-->	
		<div class="dropdown">
			<button class="dropbtn">Analysis 1
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
                {% for address, plot_name in analysis_1.items() %}
                <a href="/{{ address }}">{{ plot_name }}</a>
                {% endfor %}
			</div>
		</div>
        
        <!-- Lineare Algebra 1 Dropdown-->	
		 <div class="dropdown">
			<button class="dropbtn">Lineare Algebra
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
                {% for address, plot_name in lineare_algebra.items() %}
                <a href="/{{ address }}">{{ plot_name }}</a>
                {% endfor %}
			</div>
		</div>
		
		<!-- Analysis 2 Dropdown-->	
		<div class="dropdown">
			<button class="dropbtn">Analysis 2
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
                {% for address, plot_name in analysis_2.items() %}
                <a href="/{{ address }}">{{ plot_name }}</a>
                {% endfor %}
			</div>
		</div>
		
		<!-- GDGL Dropdown-->	
		<div class="dropdown">
			<button class="dropbtn">Gew&oumlhnliche DGL
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
                {% for address, plot_name in ode.items() %}
                <a href="/{{ address }}">{{ plot_name }}</a>
                {% endfor %}
			</div>
		</div>

	
		<!-- Analysis 3 Dropdown-->	
		<div class="dropdown">
			<button class="dropbtn">Analysis 3
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
                {% for address, plot_name in analysis_3.items() %}
                <a href="/{{ address }}">{{ plot_name }}</a>
                {% endfor %}
			</div>
		</div>
		
		<!-- PDGL Dropdown-->	
		<div class="dropdown">
			<button class="dropbtn">Partielle DGL
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
                {% for address, plot_name in pde.items() %}
                <a href="/{{ address }}">{{ plot_name }}</a>
                {% endfor %}
			</div>
		</div>
		
		<li  style="float:right">                                                                                                    
              <a href="/" >Home</a>  
			
		</li> 
		 
		
          </ul>		     			 			                                          
        </nav>                                               
      </header>
	  
	  <!-- END Header Bereich & Horizontale Navigation -->

	<!-- BEGIN Seitenbereich-->

      <article class="content">

      <!-- BEGIN Seiteninhalt - Content. Reihenfolge: Pretext, Definitionen, Bokeh, Fragen -->

	<!-- IF-Strukturen, damit leere Inhalte nicht als leere Struktur erscheint -->

      <div class="mittlere_spalte">	 	 	                 	 	                                                              

		<div align = center>
		 {% block PRETEXT %}{% endblock %}
		</div>
 
          {% set TEXT -%}
            {% block DEF1_HEAD %}{% endblock %}
		{%- endset %}
		{% if TEXT %}
		<h4>Wissenswertes</h4>
		<details> <summary> {{ TEXT }}</summary>
		  <p> {% block DEF1 %}{% endblock %}</p> </details>
		{% endif  %}
		
		{% set TEXT -%}
            {% block DEF2_HEAD %}{% endblock %}
		{%- endset %}
		{% if TEXT %}
		<details> <summary> {{ TEXT }}</summary>
		<p> {% block DEF2 %}{% endblock %}</p> </details>
		{% endif  %}
		
		{% set TEXT -%}
            {% block DEF3_HEAD %}{% endblock %}
		{%- endset %}
		{% if TEXT %}
		<details> <summary> {{ TEXT }}</summary>
		<p> {% block DEF3 %}{% endblock %}</p> </details>
		{% endif  %}
		
		{% set TEXT -%}
            {% block DEF4_HEAD %}{% endblock %}
		{%- endset %}
		{% if TEXT %}
		<details> <summary> {{ TEXT }}</summary>
		<p> {% block DEF4 %}{% endblock %}</p> </details>
		{% endif  %}
		
		
		{% block BOKEH %}
		{% endblock %}
	

		
		{% set TEXT -%}
            {% block QUEST1_HEAD %}{% endblock %}
		{%- endset %}
		{% if TEXT %}
		<h4>Verst&aumlndisfragen</h4>
		<details> <summary> {{ TEXT }}</summary>
		<p> {% block QUEST1 %}{% endblock %}</p> 
		</details>
		{% endif  %}
		
		{% set TEXT -%}
            {% block QUEST2_HEAD %}{% endblock %}
		{%- endset %}
		{% if TEXT %}
		<details> <summary> {{ TEXT }}</summary>
		<p> {% block QUEST2 %}{% endblock %}</p> 
		</details>
		{% endif  %}
		
		{% set TEXT -%}
            {% block QUEST3_HEAD %}{% endblock %}
		{%- endset %}
		{% if TEXT %}
		<details> <summary> {{ TEXT }}</summary> 
		<p> {% block QUEST3 %}{% endblock %}</p> 
		</details>
		{% endif %}
		
		{% set TEXT -%}
            {% block QUEST4_HEAD %}{% endblock %}
		{%- endset %}
		{% if TEXT %}
		<details> <summary> {{ TEXT }}</summary> 
		<p> {% block QUEST4 %}{% endblock %}</p> 
		</details>
		{% endif %}
		
      </div>       

      </article>

	<!-- END Seiteninhalt - Content  -->
	
	 <footer>                                                               
        <span>&nbsp;</span>
      </footer>
	
	
    </div>                 
  
  <!-- END Wrapper - Die Seite umfliessender Container -->
  
  

  </body>
</html>
